<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/style.css" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}jslibs/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jslibs/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jslibs/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jslibs/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script.js"></script>
</body>
</html>
