{{ "{%" }} extends "base.html" {{ "%}" }}
{{ "{% block content %}" }}
{% for uie in uielements %}
  {% if uie.__class__.__name__ == "LoginForm" %}
  {# {% include "container_form.html" %} #}
  {% elif uie.__class__.__name__ == "SignupForm" %}
  {# {% include "container_form.html" %} #}
  {% elif uie.__class__.__name__ == "EditForm" %}
{% include "container_form.html" %}
  {% elif uie.__class__.__name__ == "CreateForm" %}
{% include "container_form.html" %}
  {% elif uie.__class__.__name__ == "QuerysetWrapper" %}
{% include "container_query.html" %}
  {% elif uie.__class__.__name__ == "Node" %}
{% include "node.html" %}
  {% endif %}
{% endfor %}
{{ "{% endblock %}" }}
{{ "{% block css %}" }}
body {
{% for s in css_props %}
  {{ s.type }}: {{ s.value }};
{% endfor %}
}
{{ "{% endblock %}" }}
