.login {
  font-family: 'verb_regularregular';
  color: #8fd36f;
}

h3 {
  font-size: 22px;
  line-height: 26px;
}

.deploy {
  background-image: url('../img/run-blue.png');
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: 10px center;
  cursor: pointer;

  transition: background-size 200ms ease;
  -moz-transition: background-size 200ms ease;
  -ms-transition: background-size 200ms ease;
  -o-transition: background-size 200ms ease;
  -webkit-transition: background-size 200ms ease;

}

.deploy:hover {
  background-size: 34px 34px;
}

.deploy-pane:active {
  box-shadow: 0 0 8px #b9bbbe;
}