/* Editor CSS 
 * Written by icanberk
 *
 * Includes styling for the editor.
 *
 * - Reset
 * - Grid
 * - Info Section
 * - Widgets and Containers
 * - Settings Menu
 * - Page Settings panel
 * - Right Panel for elements
 *
 */


/* Reset */
.page > * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section > * {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

.section {
  font: normal 16px/20px "proxima-nova", Arial, sans-serif;
  font-weight: lighter;
  background-color: #2b3545;
  padding-bottom: 0px;
  margin-bottom: 4px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #1b2535;
  box-shadow: 0 0 8px 2px rgba(60, 60, 60, 0.6);
}

.section ul {
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid #1b2535;
}

.section ul.sub-list {
  width: 90%;
  margin-left: 5%;
  border-radius: 4px;
  margin-top: 4px;
  border-width: 0;
}

.sub-element {
  border: 1px solid #1b2535;
  margin-top: 6px !important;
  border-radius: 4px;
}

.section ul li {
  width: 100%;
  margin: 0;
  padding: 6px;
  border-top: 1px solid #3b4555;
  border-bottom: 1px solid #1b2535;
  padding-left: 32px;
  background-position: 6px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  cursor: pointer;
}

.section ul li:hover {
  background-color: rgba(59, 69, 85, 0.6);
}

.section ul li:active {
  background-color: #1b2535;
}

.section ul li.selected {
  border-top-color: #1b2535;
  background-color: #1b2535;
}

.section .title {
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

.section.settings h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 10px;
}

.container.editing *[class*="span"] {
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 100%;
}

/* Grid */
.grid-container {
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 0;
  z-index: -1;
  width: 1400px;
}

.row.editing {
  display: inline-block;
  border-top: none;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  transition: border-top-color 0.4s;
  -moz-transition: border-top-color 0.4s;
  -webkit-transition: border-top-color 0.4s;
  -o-transition: border-top-color 0.4s;
/*  border-top: 1px dashed transparent;
*/
}

.row.editing {
  border-top-color: rgba(210, 210, 210, 0.5);
}

.row.editing .span1:first-child {
  border-left: 1px dashed rgba(210, 210, 210, 0.5);
}

.row.editing .span1.editing {
  border-right: 1px dashed rgba(210, 210, 210, 0.5);
}

.property-list li {
  padding: 4px;
  margin-left: 14px;
}

.span1.editing {
  height: 100%;
  display: inline-block;
  margin-left: 4px;
}

.span1.editing {
/*  background-color: rgba(43, 53, 69, 0.5);
  border-radius: 4px;*/
}

.span1.cselected {
  border: none;
  background-color: rgba(43, 53, 69, 0.5);
}


.container.editing .row {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#full-container {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 100%;
  left: 0;
}

#body-container {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -470px;
  z-index: -2;
}

#elements-container {
  position: relative;
  top: 60px;
  min-height: 900px;
  width: 960px;
  margin-left: 100px;
}

.right-panel {
  display: inline-block;
  float: right;
  position: fixed;
  top: 0;
  z-index: 1007;
  color: #fff;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #2b3545;
  border-left: 1px solid #1b2535;
  overflow: visible;
}

.page-container {
  position: relative;
  margin-right: 200px;
}

#LOL {
  background-color: #2b3545;
}

.info-section {
  height: 200px;
}
/* Widgets and Containers */

.elements-inside-container {
  position: relative;
  height: 100%;
}

.bordered {
  border: 1px solid #ccc;
}

.widget {
  display: inline-block;
  vertical-align: top;
}

.widget-wrapper {
  z-index: 1001;
  position: absolute;
  cursor: move;
  border-radius: 3px;
  line-height: 1em;
  overflow: visible;
  background-color: rgba(124, 192, 213, 0.0);
  -webkit-transition: backgroundColor 50ms linear;
}

.widget-wrapper:first-child  {
  line-height: 1em;
}

.pseudo-outline {
  position: absolute;
}

.widget-wrapper .meta, .widgets-container .meta {
  position: absolute;
  left: 100%;
  top: 0;
  height: 0;
  width: 30px;
  background-color: rgba(30, 30, 30, 0.6);
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.widget-wrapper.selected, .widgets-container.selected {
  border: 2px solid #71c5ef;
  background-color: rgba(124, 192, 213, 0.12);
}

.widget-wrapper .meta .delete, .widgets-container .meta .delete {
  position: absolute;
  display: inline-block;
  margin-top: 6px;
  width: 20px;
  z-index: 1002;
}

.ui-resizable-handle {
  display: none;
  opacity: 0;
}

.widget-wrapper {
  display: inline-block;
  border:2px solid transparent;
  position: absolute;
  -webkit-transition: border-color 200ms linear;
}

.widget-wrapper:hover {
  border-color: #71c5ef;
}

.widget-wrapper:hover .meta, .widgets-container:hover .meta {
  height: 60px;
}

.widget-wrapper:hover .ui-resizable-handle {
  opacity: 1;
}


.widgets-container {
  z-index: 1000;
  cursor: pointer;
  border-radius: 3px;
}

.widgets-container:hover {
  border:2px dashed #2b3545;
}

.top-extend {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  cursor: n-resize;
}

.left-extend {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  cursor: w-resize;
}

.right-extend {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  cursor: e-resize;
}

.bottom-extend {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  cursor: s-resize;
}



/* Element Selector */

.elements-list {
  width: 100%;
  display: block;
  overflow:visible;
}

.section-select {
  position: relative;
  top:0;
  height: 42px;
  text-align: left;
  width: 100%;
  height: 42px;
  z-index: 1000;
  background-color: #2b3545;
  border-bottom: 1px solid #1b2535;
  overflow: visible;
  z-index: 1100;
}

.section-select .header {
  display: inline-block;
  text-align: center;
  padding-top: 0px;
  font-size: 16px;
  font: normal 16px/20px "proxima-nova", Arial, sans-serif;
  line-height: 42px;
  font-weight: bold;
  background-color: #2b3545;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #1b2535;
  border-left: 1px solid #3b4555;
  margin: 0;
  vertical-align: top;
  cursor: pointer;
}

.header.selected {
  background-color: #1b2535;
  border-left-color: #1b2535;
}


.header:hover {
  background-color: #1b2535;
  border-left-color: #1b2535;
}

.menu-button {
  display: inline-block;
  text-align: center;
  padding-top: 0px;
  font-size: 16px;
  font: normal 16px/20px "proxima-nova", Arial, sans-serif;
  line-height: 42px;
  border-right: 1px solid #1b2535;
  border-left: 1px solid #3b4555;
  min-width: 44px;
  height: 42px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: 11px center;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

.menu-button span {
  margin-left: 28px;
}

.menu-button:hover {
  background-color: #1b2535;
  border-left-color: #1b2535;
}


.section-select .search {
  display: inline-block;
  width: 400px;
  border-right: 1px solid #1b2535;
  border-left: 1px solid #3b4555;
}

.section-select .search input {
  background-color: #2b3545;
  height: 42px;
  padding: 0;
  margin: 0;
  margin-top: -1px;
  color: #fff;
  width: 100%;
  outline: none;
  border: none;
  padding-left: 10px;
  outline-width: 0;
}

.section-select .search input:focus {
  outline: none;
  box-shadow: none;
}

.item-gallery .header:before {
  content: ' ';
  float: left;
  height: 30px;
  width: 20px;
  vertical-align: middle;
  background-image: url('../img/down-arrow.png');
  background-position: center 5px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin-right: 5px;
}

.item-gallery {
  width: 200px;
  right: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  overflow-y: scroll;
  z-index: 999;
  border-radius: 0;
  border: none;
  box-shadow: none;
/*  transition:top 0.6s;
  -moz-transition:top 0.6s;
  -webkit-transition:top 0.6s;
  -o-transition: top 0.6s;*/
}

.item-gallery ::-webkit-scrollbar {
    width: 6px;
}
 
.item-gallery ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 6px;
}
 
.item-gallery ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.8); */
    background-color: rgba(255,255,255,0.4);
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-track {
  background-color: #2b3545;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
  border-radius: 6px;
}
 

.item-gallery ul {
  list-style: none;
  overflow: visible;
  overflow-y: scroll;
  padding: 0;
  height: 100px;
  padding-bottom: 300px;
}

.item-gallery ul li {
  width: 60px;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 10px 10px;
  border-bottom: none;
  height: 100%;
  width: 80px;
  vertical-align: top;
  line-height: 12px;
}

.item-gallery ul li:hover {
  background-color: rgba(59, 69, 85, 0.6);
}

.interface-elements {
  width: 100%;
  overflow:visible;
  overflow-y:visible;
  height: 100%;
  display: block;
  float: right;
}

.interface-elements ul {
  display: block;
  overflow: visible;
  overflow-y: scroll;
  float: left;
  height: 100%;
}

.interface-elements ul li {
  float: left;
}

.elements-list ul li {
  width: 80px;
  height: 80px;
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #1b2535;
  border-top: 1px solid #3b4555;
  margin-left: 10px;
  margin-right: 2px;
  border-radius: 6px;
  padding-top: 52px;
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: auto 20px;
}

.elements-list ul li.entity {
  width: 172px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: auto 20px;
}

.elements-list ul li.large {
  width: 172px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: auto 20px;
}

.elements-list ul li.entity span {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
  margin-left: 40px;
  width: 70px;
  padding-top: 20px;
}

.elements-list ul li.large span {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
  margin-left: 40px;
  width: 70px;
  padding-top: 20px;
}

.data-elements {
  width: 100%;
  height: 100px;
  z-index: 1;
  background-color: #2b3545;

  transition: margin-bottom, margin-top 0.4s;
  -moz-transition:  margin-bottom, margin-top 0.4s;
  -webkit-transition:  margin-bottom, margin-top 0.4s;
  -o-transition:  margin-bottom, margin-top 0.4s;
}

.data-elements.expanded {
  height: 100%;
  top: 42px;
  margin-top: 0;
  margin-bottom: 180%;
}



.help-text {
  background-color: #dddddf;
  color: #000;
  cursor: help;
  padding-top: 20px;
  font: normal 16px/20px "proxima-nova", Arial, sans-serif; 
}


body {
  background-color: #fff;
  color: #fff;
  background-image: url(../img/editor_bg.png);
  font: normal 16px "proxima-nova", Arial, sans-serif;
  line-height: 1em;
}


.page-wrapper {

  background-color:rgba(216, 216, 219, 0.6);
  position: absolute;
  display: block;
  left: 50%;
  top: 72px;
  margin-left: -563px;
  width: 1164px;
  height: 1066px;
/*  margin: 80px auto;
*/  border-radius: 6px;
  border: 2px solid #666;
  border-color: rgba(0, 0, 0, 0.30) rgba(0, 0, 0, 0.30) rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 30px 2px rgba(120, 120, 120, 0.4);
}

.url-bar {
  background-color: #fff;
  border-radius: 4px;
  width: 1146px;
  height: 36px;
  margin-top: 7px;
  margin-left: 6px;
  color: #000;
  padding-top: 9px;
  padding-left: 10px;
  border:1px solid #CCC;
  cursor: pointer;
  -webkit-transition: border-color 60ms linear;
  -webkit-transition: box-shadow 60ms linear;
}

.url-bar:hover {
  border-color: #71c5ef;
  box-shadow: 0 0 4px 0 rgba(60, 60, 60, 0.4);
}

.page {
  position: relative;
  display: block;
  width: 1160px;
  height: 1000px;
  margin: 7px auto;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  border-color: rgba(0, 0, 0, 0.30) rgba(0, 0, 0, 0.30) rgba(0, 0, 0, 0.45);
/*  border: 1px solid #aaa;
*//*  box-shadow: 0 0 40px 6px rgba(90, 90, 90, 0.6);
*/}

.page {
  line-height: 1em;
}

.top-panel {
  position: absolute;
  top: 60px;
  right: 0;
  width: 100px;
  height: 100%;
}
/* Entities */
.entities {
  position: fixed;
  width: 870px;
  height: 140px;
  bottom: 0;
  margin-left: -435px;
  left: 50%;
  background-color: #2b3545;
  color: #fff;
  font: normal 16px/20px "proxima-nova", Arial, sans-serif;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  transition: margin-bottom 0.4s;
  -moz-transition: margin-bottom 0.4s; /* Firefox 4 */
  -webkit-transition: margin-bottom 0.4s; /* Safari and Chrome */
  -o-transition: margin-bottom 0.4s; /* Opera */
}


.entity-view-li .buttons {
  top: 0;
  left: 0;
  display: block;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
}

.entity-view-li .entity-name {
  float: right;
  font-weight: bold;
  padding-top: 8px;
}


.entities-list input[type="text"] {
  width: 60px;
  height: 30px;
  margin-bottom: 0;
  overflow: visible;
  overflow-y:scroll;
}

.entity-name {
  display: none;
}

.entities-list {
  width: 100%;
  border-top: 1px solid #3b4555 !important;
}

.section ul.entities-list li {
  width: 100%;
  border: none;
}

.section ul.entities-list li:hover {
  background-color: inherit;
}
.entities-list li .buttons {
  padding: 0;
}

.entities-list li span {
  display: block;
  text-align: left;
  padding-left: 70px;
  padding-top: 30px;
  font-size: 16px;
  width: 100%;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  vertical-align: top;
  z-index: 2;

  border-top: 1px solid #3b4555;
  border-left: 1px solid #1b2535;
  border-right: 1px solid #1b2535;
  border-bottom: 1px solid #1b2535;
}
.entities-list li span:hover {
  background-color: #3b4555;
}

.item-info {
  position: fixed;
  right: 10px;
  top: 160px;
  width: 240px;
  height: 100%;
  padding-bottom: 170px;
  overflow: visible;
  overflow-y:scroll;
}

.item-info:empty {
  display: none;
}

.item-info li:empty {
  display: none;
}

.item-info li select {
  width: 160px;
  margin-left: 30px;
  margin-top: 4px;
}

.widgets {
  display: none;
}

.menu {
  position: fixed;
  bottom: 0px;
  width: 220px;
  left: 26px;
  background-color: #DDD;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: margin-bottom 0.4s;
  -moz-transition: margin-bottom 0.4s; /* Firefox 4 */
  -webkit-transition: margin-bottom 0.4s; /* Safari and Chrome */
  -o-transition: margin-bottom 0.4s; /* Opera */
}

.menu ul {
  border: none;
}
.menu ul li {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #bbb;
  padding-left: 34px;
}
.section ul li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.menu ul li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.menu ul li:hover {
  border-top: 1px solid #bbb;
  background-color: #ccc; 
}

.item-info {
  z-index: 1005;
}

.item-info .title {
  cursor: move;
}

.item-info li input[type="text"] {
  width: 50px;
  height: 30px;
  margin: 0;
}


.loading-gif {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.4);
  z-index: 2000;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/loading.gif);
}

.logo {
  display: inline-block;
  position: relative;
  height: 220px;
  width: 220px;
  vertical-align: top;
  top:60px;
  right: 0;
  left: 50%;
  margin-left: -110px;
}

.engine1 {
  position: absolute;
  right: 60px;
  top: 0px;
  width: 140px;
  height: 140px;
  background-image: url('../img/engine.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.engine2 {
  position: absolute;
  right: 0px;
  top: 100px;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-image: url('../img/engine.png');
}

.widget-prev {
  text-align: center;
  padding-top: 20px !important;
}

.create {
  background-image: url('../img/plus.png');
  background-position: 10px center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.show {
  background-image: url('../img/list.png');
  background-position: 10px center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}


.update {
  background-image: url('../img/update.png');
  background-position: 10px center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.settings {
  position: fixed;
  bottom: -10px;
  height: 560px;
  left: 50%;
  width: 960px;
  margin-left: -465px;
  margin-bottom: -100%;
  z-index: 1006;
}
/*.settings .span5 {
  width: 170px;
}*/

.settings .property {
  height: 120px !important;
}

.size select {
  width: 60px;
}
select.font {
  width: 180px;
}

.cross {
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 20px;
}

.ui-resizable-handle {
  overflow: visible;
  background-image:url('../img/dot.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.section ul li .key {
  display: inline-block;
  font-weight: bolder;
  font-size: 14px;
  min-width: 56px;
}


/* Info Section */ 

.item-info li input.context-text {
  margin-top: 2px;
  display: block !important;
  width: 160px;
}

li.model {
  padding: 0!important;
}

li.model span.title {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  height: 26px;
  padding: 3px;
  padding-left: 12px;
  background-image: -webkit-linear-gradient(#2b3545, #263040);
}
/* Settings Menu */
.menu ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}


/* Top Icons */
.buttons {
  background-image: url('../img/button_icon_b.png');
}
.images {
  background-image: url('../img/image_b.png');
}
.headerTexts {
  background-image: url('../img/header_b.png');
}
.texts {
  background-image: url('../img/text.png');
}
.links {
  background-image: url('../img/link.png');
}
.textInputs {
  background-image: url('../img/text_input.png');
}
.textAreas {
  background-image: url('../img/text_area.png');
}
.lines {
  background-image: url('../img/line.png');
  background-size: auto 4px !important;
  background-position: center 30px !important;
}
.dropdowns {
  background-image: url('../img/dropdown_icon_b.png');
}
.home {
  background-image: url('../img/home_b.png');
}
.setting {
  background-image: url('../img/engine_b.png');
}

.save {
  background-image: url('../img/save.png');
  text-align: left;
  transition: width 2s;
-moz-transition: width 2s; /* Firefox 4 */
-webkit-transition: width 2s; /* Safari and Chrome */
-o-transition: width 2s; /* Opera */
}

.run {
  background-image: url('../img/run.png');
}

.help {
  float: right;
  background-image: url('../img/help_b.png');
}

.pages {
  width: 180px;
  text-align: left;
  background-color: #2b3545;
  padding: 0;
}

.pages ul {
  padding: 0;
  background-color: #2b3545;
  max-height: 40px;
  overflow: hidden;
}

.pages ul li {
  padding: 0 10px;
  border-top: 1px solid #3b4555;
  border-bottom: 1px solid #1b2535;
  width: 100%;
  height: 40px;
  overflow: hidden;
}

.pages:hover ul {
  max-height: 200px;
}

.addbutton {
  background-image: url('../img/add_button_icon_b.png');
}

.facebook {
  background-size: auto 30px !important;
  background-image: url('../img/facebook_icon.png');
}

.linkedin {
  background-size: auto 30px !important;
  background-image: url('../img/linkedin_icon.png');
}

.entity-list {
  background-image: url('../img/list.png');
}

ul.list {
  background-image: none;
}

.create {
  background-image: url('../img/page_layout_icon&48.png');
}

.table-gal {
  background-image: url('../img/table_icon.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.signup, .login {
  background-image: url('../img/users.png');
}

/*.widget-wrapper > * {
  width: 100%;
  height: 100%;
}*/

.width-full {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #1b2535;
  border-top: 1px solid #3b4555;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 6px;
  vertical-align: top;
  float: right;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 30px;
  background-image: url(../img/full-width-icon.png);
}

.node { 
  display: inline-block;
  height: 74px;
  width: 100%;
  margin-top: 3px;
  overflow: hidden;
  text-align: center;
}

.info-section {
  vertical-align: top;
  border-bottom: 1px solid #1b2535;
  border-top: 1px solid #3b4555; 
}

.info-section ul {
  height: 198px;
  overflow: visible;
  overflow-y: scroll;
}

.info-section ul li {
  padding: 6px;
  cursor: pointer;
}

.info-section ul li:hover {
  background-color: rgba(59, 69, 85, 0.6);
}

.tip {
  margin-top: 28px;
  font-size: 20px;
  line-height: 24px;
  padding: 8px;
}

.top-panel-title {
  height: 40px;
  border-bottom: 1px solid #1b2535;
  border-top: 1px solid #3b4555; 
}

.top-panel-title .right-arrow {
  display: inline-block;
  height: 100%;
  width: 40px;
  background-image: url(../img/right-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  border-right: 1px solid #1b2535;
}

.top-panel-title h2 {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  height: 40px;
  padding-top: 8px;
  padding-left: 8px;
  border-left: 1px solid #3b4555;
}

.down-arrow {
  background-image: url('../img/down_arrow.png');
  background-position: center;
  background-size: 100% auto;
  display: inline-block;
  width: 60px;
  height: 50px;
  margin-left: 90px;
}



/*.page-wrapper {
  display: block;
  width: 110%;
}*/

.a-pick {
  cursor: pointer;
}

.a-pick:hover {
  background-color: #1b2535;
}

.a-left {
  background-image: url('../img/align_left_icon.png');
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: center center;
}

.a-center {
  background-image: url('../img/align_center_icon.png');
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: center center;
}

.a-right {
  background-image: url('../img/align_right_icon.png');
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: center center;
}

.deployed a {
  display: inline-block;
  width: 100%;
  color: #000;
}

.padding:hover {
  background-color: #1b2535;
}

.padding.tb {
  background-image: url('../img/tb-padding.png');
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: center center;
}

.padding.lr {
  background-image: url('../img/lr-padding.png');
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: center center;
}

.table {
  color:  #000;
}

.modal-cross {
  font-size: 16px;
  cursor: pointer;
}

.editor-pane {
  position: absolute;
  width: 240px;
  color:#fff;
  top: 100%;
  text-align: left;
  padding: 0;
  padding-bottom: 4px;
  background-color: #2b3545;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.content-editor {
  top: 0;
  right: 480px;
  z-index: 1270 !important;
  background-color: #2b3545;
  font-size: 12px;
  padding: 0;
  line-height: 14px;
  overflow: hidden;
  list-style: none;
  border-right: 1px solid #1b2535;
  border-left: 1px solid #3b4555;
}

.content-editor > * {
}

.content-editor .key {
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  font-weight: bold;
  margin-left: 3%;
}

.content-editor textarea, .content-editor select {
  width: 94%;
  margin-left: 3%;
}

.content-editor li {
  width: 100%;
  list-style: none;
  display: inline-block;
  border-bottom: 1px solid #1b2535;
  border-top: 1px solid #3b4555;
}
.content-editor ul li.selected {
  background-color: #1b2535;
}

.layout-editor {
  top: 0;
  right: 260px;
  z-index: 1270 !important;
  background-color: #2b3545;
  height: 84px !important;
  font-size: 12px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 4px;
  line-height: 14px;
}

.layout-editor ul li {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #1b2535;
  border-top: 1px solid #3b4555;
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
}
.layout-editor ul li.selected {
  background-color: #1b2535;
}

select.font-picker {
  width: 70px;
  margin-left: 8px;
}

.size-picker {
  display: inline-block;
  width: 160px;
  margin-left: 4px;
  margin-top: 6px;
}

.option-button {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #1b2535;
  border-top: 1px solid #3b4555;
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  padding: 9px;
  margin-top: 6px;
}

.option-button:hover {
  background-color: #1b2535;
}

.font-options {
  display: inline-block;
  vertical-align: top;
}

strong {
  font-weight: bold !important;
}


select.url-part {
  width: 76px;
  display: inline-block;
  margin: 0;
  padding: 4px 2px;
  text-align: left;
}

h3.edit-url {
  font-size: 20px;
  font-weight: bold;
}

.list-editor-container {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  height: 600px;
  position: relative;
}

.type-pick {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 4px;
}

.editor-window {
  margin-top: 20px;
  background-color: #eee;
  position: relative;
}



.container-wrapper {
  z-index: 1001;
  position: absolute;
  cursor: move;
  border-radius: 3px;
  line-height: 1em;
  overflow: visible;
  background-color: rgba(25, 142, 58, 0.0);
  -webkit-transition: background-color 50ms linear;
}


.container-wrapper.selected {
  border: 2px solid #71c5ef;
  background-color: rgba(25, 142, 58, 0.12);
}


.container-wrapper {
  display: inline-block;
  border:2px solid transparent;
  position: absolute;
  -webkit-transition: border-color 200ms linear;
}

.container-wrapper:hover {
  border-color: rgba(25, 142, 58, 0.6);
  background-color: rgba(25, 142, 58, 0.3);
}


/*.container-wrapper:hover .ui-resizable-handle {
  opacity: 1;
}*/