.container > * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section {
  font: normal 16px/20px "proxima-nova", Arial, sans-serif;
  font-weight: lighter;
  background-color: #2b3545;
  padding-bottom: 0px;
  margin-bottom: 4px;
  border-radius: 4px;
  color: #fff;
  overflow: hidden;
  border: 1px solid #1b2535;
  box-shadow: 0 0 8px 2px rgba(60, 60, 60, 0.6);
}

.section ul {
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid #1b2535;
  overflow: hidden;
}

.section ul li {
  width: 100%;
  margin: 0;
  padding: 10px;
  border-top: 1px solid #3b4555;
  border-bottom: 1px solid #1b2535;
  padding-left: 32px;
  background-position: 6px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  cursor: pointer;
}

.section ul li:hover {
  background-color: #3b4555;
}

.section ul li:active {
  background-color: #1b2535;
}

.section ul li.selected {
  border-top-color: #1b2535;
  background-color: #1b2535;
}

.section > * {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

.left-editor {
  left: 0;
}

.left-editor .section {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.right-editor {
  right: 0;
}

.right-editor .section {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.section .title {
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}


/* --- */



.row.editing {
  display: inline-block;
  height: 30px;
  border-top: 1px dashed transparent;

   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.container.editing:hover .row.editing {
  border-top: 1px dashed rgba(210, 210, 210, 0.2);
}

.property-list li {
  padding: 4px;
  margin-left: 14px;
}

.span1.editing {
  height: 100%;
  display: inline-block;
  cursor: crosshair;
  margin-left: 4px;
}

.span1.editing:hover{
  background-color: #ccc;
}

.span1.cselected {
  background-color: #ddd;
}


.right-editor ul.entities-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.right-editor ul.entities-list li:hover {
  background-color: #2b3545;
}

.right-editor ul.entities-list .sub-title {
  display: block;
  width: 100%;
  
  border-bottom: 1px solid rgba(0,0,0,.18);
  border-top: 1px solid rgba(0,0,0,.18);

  font-weight: bold;
  padding-left: 10px;
  margin-top: 10px;
  background-image: url('../img/book_side_icon&48.png');
  background-position: 10px center;
  background-size: auto 50%;
  background-repeat: no-repeat;
  padding: 8px;
  padding-left: 40px;
}

.container.editing > * {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

.container.editing *[class*="span"] {
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 100%;
}

#body-container {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -470px;
  height: 720px;
}

#elements-container {
  position: relative;
  top: 60px;
  left: 50%;
  margin-left: -470px;
  height: 720px;
}

.container-create {
  position: absolute;
  top: 0;
  left: 0;
}

.container.editing .row {
  display: inline-block;
  height: 30px;
  margin: 0;
  padding: 0;
}

#LOL {
  background-color: #2b3545;
}

.elements-inside-container {
  position: relative;
  height: 100%;
}

.bordered {
  border: 1px solid #ccc;
}

.left-editor ul {
  list-style: none;
  margin-left: 0;
}

.left-editor ul li {
  background-image: url('../img/page_layout_icon&48.png');
}

.widget {
  display: inline-block;
  vertical-align: top;
}

.widget-wrapper {
  z-index: 1001;
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
}

.pseudo-outline {
  position: absolute;
}

.widget-wrapper .meta, .widgets-container .meta {
  position: absolute;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.6);
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.widget-wrapper.selected, .widgets-container.selected {
  border: 1px dashed #ccc;
}

.widget-wrapper .meta .delete, .widgets-container .meta .delete {
  position: absolute;
  display: inline-block;
  margin-top: 6px;
  width: 20px;
  z-index: 1002;
}

.ui-resizable-handle {
  display: none;
  opacity: 0;
}

.widget-wrapper {
  display: inline-block;
}

.widget-wrapper:hover {
  border:1px dashed #2b3545;
}

.widget-wrapper:hover .meta, .widgets-container:hover .meta {
  height: 30px;
}

.widget-wrapper:hover .ui-resizable-handle {
  opacity: 1;
}


.widgets-container {
  z-index: 1000;
  cursor: pointer;
  border-radius: 3px;
}

.widgets-container:hover {
  border:1px dashed #2b3545;
}

.top-extend {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  cursor: n-resize;
}

.left-extend {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  cursor: w-resize;
}

.right-extend {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  cursor: e-resize;
}

.bottom-extend {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  cursor: s-resize;
}



/* Element Selector */

.accordion {
  position: relative;
}


.item-gallery {
  position: fixed;
  height: 80%;
  width: 280px;
  border-radius: 6px;
  padding: 0;
  overflow: hidden;
  z-index: 1006;
  top: 10%;
  right: -320px;
}

.item-gallery .header {
  width: 100%;
  text-align: center;
  padding-top: 0px;
  font-size: 16px;
  margin: 0;
  box-shadow: 1px 0px 4px 0px rgba(60, 60, 60, 0.6);
  font: normal 16px/20px "proxima-nova", Arial, sans-serif;
  line-height: 40px;
  font-weight: bold;
  background-color: #2b3545;

  border-bottom: 1px solid #1b2535;
  border-top: 1px solid #3b4555;
}

.item-gallery .header:after {
  content: ' ';
  float: right;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  background-image: url('../img/down-arrow.png');
  background-position: center center;
  background-size:  100% auto;
}


.item-gallery ul {
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  height: 100%;
  padding-bottom: 80px;
}

.item-gallery ul li {
  width: 100%;
  cursor: pointer;
  margin: 0;
  padding: 10px 10px;
  border-top: 1px solid #eee;
  border-bottom: none;
  min-height: 100px;
}

.item-gallery ul li:hover {
  background-color: #dddddf;
}

.accord {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.interface-elements {
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 0;
  overflow-y:visible;
  height: 100%;
}

.interface-elements.expanded {
  height: 100%;
}

.data-elements {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0px;
  margin-bottom: 0%;
  margin-top: 180%;
  z-index: 1;
  background-color: #2b3545;

  transition: margin-bottom, margin-top 0.4s;
  -moz-transition:  margin-bottom, margin-top 0.4s;
  -webkit-transition:  margin-bottom, margin-top 0.4s;
  -o-transition:  margin-bottom, margin-top 0.4s;
}

.data-elements.expanded {
  height: 100%;
  top: 42px;
  margin-top: 0;
  margin-bottom: 180%;
}



.help-text {
  background-color: #dddddf;
  color: #000;
  cursor: help;
  padding-top: 20px;
}

.accordion {
  max-height: 40px;
  overflow: hidden;
  transition: max-height 1s;
  -moz-transition: max-height 1s; /* Firefox 4 */
  -webkit-transition: max-height 1s; /* Safari and Chrome */
  -o-transition: max-height 1s; /* Opera */

}

.accordion:hover {
  max-height: 1000px;
}

.pages {
  display: none;
}


/* Entities */
.entities {
  position: fixed;
  width: 870px;
  height: 140px;
  bottom: 0;
  margin-left: -435px;
  left: 50%;
  background-color: #2b3545;
  color: #fff;
  font: normal 16px/20px "proxima-nova", Arial, sans-serif;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  transition: margin-bottom 0.4s;
  -moz-transition: margin-bottom 0.4s; /* Firefox 4 */
  -webkit-transition: margin-bottom 0.4s; /* Safari and Chrome */
  -o-transition: margin-bottom 0.4s; /* Opera */
}


.entity-view-li .buttons {
  top: 0;
  left: 0;
  display: block;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
}

.entity-view-li .entity-name {
  float: right;
  font-weight: bold;
  padding-top: 8px;
}


.entities-list input[type="text"] {
  width: 60px;
  height: 30px;
  margin-bottom: 0;
  overflow-y:scroll;
}

.entity-name {
  display: none;
}

.entities-list {
  width: 100%;
  border-top: 1px solid #3b4555 !important;
}

.section ul.entities-list li {
  width: 100%;
  border: none;
}

.section ul.entities-list li:hover {
  background-color: inherit;
}
.entities-list li .buttons {
  padding: 0;
}

.entities-list li span {
  display: block;
  text-align: left;
  padding-left: 70px;
  padding-top: 30px;
  font-size: 16px;
  width: 100%;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  vertical-align: top;
  z-index: 2;

  border-top: 1px solid #3b4555;
  border-left: 1px solid #1b2535;
  border-right: 1px solid #1b2535;
  border-bottom: 1px solid #1b2535;
}
.entities-list li span:hover {
  background-color: #3b4555;
}

.item-info {
  position: fixed;
  left: 26px;
  top: 50px;
  width: 220px;
  margin-bottom: 4px;
}

.widgets {
  display: none;
}

.menu {
  position: fixed;
  bottom: 0px;
  width: 220px;
  left: 26px;
  background-color: #DDD;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: margin-bottom 0.4s;
  -moz-transition: margin-bottom 0.4s; /* Firefox 4 */
  -webkit-transition: margin-bottom 0.4s; /* Safari and Chrome */
  -o-transition: margin-bottom 0.4s; /* Opera */
}

.menu ul {
  border: none;
}
.menu ul li {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #bbb;
  padding-left: 34px;
}
.section ul li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.menu ul li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.menu ul li:hover {
  border-top: 1px solid #bbb;
  background-color: #ccc; 
}

.item-info {
  z-index: 1005;
}

.item-info .title {
  cursor: move;
}

.item-info li input[type="text"] {
  width: 70px;
  height: 30px;
  margin: 0;
}


.loading-gif {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.4);
  z-index: 2000;
  background-position: center center;
  background-repeat: no-repeat;
}

.logo {
  display: inline-block;
  position: relative;
  height: 220px;
  width: 220px;
  vertical-align: top;
  top:60px;
  right: 0;
  left: 50%;
  margin-left: -110px;
}

.engine1 {
  position: absolute;
  right: 60px;
  top: 0px;
  width: 140px;
  height: 140px;
  background-image: url('../img/engine.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.engine2 {
  position: absolute;
  right: 0px;
  top: 100px;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-image: url('../img/engine.png');
}

.widget-prev {
  text-align: center;
  padding-top: 20px !important;
}

.create {
  background-image: url('../img/plus.png');
  background-position: 10px center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.query {
  background-image: url('../img/list.png');
  background-position: 10px center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}


.update {
  background-image: url('../img/update.png');
  background-position: 10px center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.settings {
  position: fixed;
  bottom: -10px;
  height: 560px;
  left: 50%;
  width: 930px;
  margin-left: -465px;
  margin-bottom: -100%;
}
.settings .span5 {
  width: 170px;
}

.settings .property {
  height: 120px !important;
}

.size select {
  width: 60px;
}
select.font {
  width: 180px;
}

.cross {
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 20px;
}