.panel {
  height: 400px;
  display: inline-block;
  padding: 20px;
  vertical-align: top;
  padding-top: 50px;
}

.fields-panel {
  width: 180px;
  border-right:1px solid #ddd;
  padding-top: 20px;
}

.details-panel {
  width: 200px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #ddd;
}

.form-panel {
  width: 300px;
  background-color: #eee;
  box-shadow: inset 0 0 5px 0 rgba(30, 30, 30, 0.4);
  padding-left: 0;
  padding-right: 0;
}

.action-panel {
  width: 200px;
  border-left: 1px solid #aaa;
}

.field-li-item {
  width: 100%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 8px 20px;
  background-color: transparent;
  -webkit-transition: background-color 50ms linear;
  cursor: n-resize;
}

.field-li-item.selected {
  background-color: rgba(25, 142, 58, 0.3);
}

.field-li-item:hover {
  background-color: rgba(25, 142, 58, 0.3);
}

h4 {
  font-weight: bold;
  margin-bottom: 4px;
}

.field-types li {
  margin-bottom: 6px;
}

.field-types li input[type="radio"] {
  margin-top: -1px;
  margin-right: 4px;
}