.IN-widget {
  display: inline-block;
  padding: 5px;
}

.pane p {
  font-size: 16px;
  vertical-align: bottom;
}

.well p {
  vertical-align: bottom;
}

h2 {
  font-size: 42px;
  line-height: 50px;
}

.login {
  display: inline-block;
}
.login .line {
  display: inline-block;
  height: 42px;
}


.login form input[type="password"], input[type="text"] {
  width: 120px;
  float: right;
}

input[type="password"], input[type="text"] {
  height: 32px;
}

body {
  background-color: #fff;
}

form {
  margin: 0;
}

.pane {
  border: 2px solid #132b52;
  border-top: 2px solid #334b72;
}



@keyframes myfirst
{
from {margin-top: 160px;}
to {margin-top: 20px;}
}
@-moz-keyframes myfirst /* Firefox */
{
from {margin-top: 160px;}
to {margin-top: 20px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {margin-top: 160px;}
to {margin-top: 20px;}
}

@-o-keyframes myfirst /* Opera */
{
from {margin-top: 160px;}
to {margin-top: 20px;}
}
.well {
  position: relative;
  overflow: hidden;
}
.site-trackstudent {
  position: absolute;
  width: 460px;
  height: 400px;
  margin-top: 20px;
animation: myfirst 1s;
-moz-animation: myfirst 1s; /* Firefox */
-webkit-animation: myfirst 1s; /* Safari and Chrome */
-o-animation: myfirst 1s; /* Opera */
background-image: url(../img/home/trackstudent-site.png);
background-position: center;
background-size: 100% auto;
background-repeat: no-repeat;
}

.mobile-trackstudent {
  position: absolute;
  top: 84px;
  width: 160px;
  float: right;
  height: 400px;
  margin-left: -40px;
  margin-top: 20px;
animation: myfirst 1s;
-moz-animation: myfirst 1s; /* Firefox */
-webkit-animation: myfirst 1s; /* Safari and Chrome */
-o-animation: myfirst 1s; /* Opera */

background-image: url(../img/home/trackstudent-mobile.png);
background-position: center 40px;
background-size: 100% auto;
background-repeat: no-repeat;
}

.nocode {
  background-image: url('../img/home/0code.png');
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: center 60px;
    animation: fadeIn 1.5s;
-moz-animation: fadeIn 1.5s; /* Firefox */
-webkit-animation: fadeIn 1.5s; /* Safari and Chrome */
-o-animation: fadeIn 1.5s; /* Opera */
}

.publish {
  background-image: url('../img/home/world.png');
  background-size: 30% auto;
  background-repeat: no-repeat;
  background-position: center 110px; 

  animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
}

.users {
  background-image: url('../img/home/users.png');
  background-size: 18% auto;
  background-repeat: no-repeat;
  background-position: center 112px;
  animation: fadeIn 2.8s;
  -moz-animation: fadeIn 2.8s;
  -webkit-animation: fadeIn 2.8s;
  -o-animation: fadeIn 2.8s;
}

.metrics {
  background-image: url('../img/home/metrics.png');
  background-size: 30% auto;
  background-repeat: no-repeat;
  background-position: center 108px;
  animation: fadeIn 3.6s;
  -moz-animation: fadeIn 3.6s;
  -webkit-animation: fadeIn 3.6s;
  -o-animation: fadeIn 3.6s;
}


.logo {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 30px;
  vertical-align: top;
  float: left;
  margin-left: -40px;
  margin-top: 8px;
}

.engine1 {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 27px;
  height: 27px;
  background-image: url('../img/home/engine.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.engine2 {
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
  top:27px;
  background-image: url('../img/home/engine.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.engine3 {
  position: absolute;
  right: 21px;
  top: 36px;
  width: 22px;
  height: 22px;
  background-image: url('../img/home/engine.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}


.logo-text {
  overflow: visible;
}

.small {
  font-size: 13px;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.motto {
  font-family: 'verb_lightitalic';
  font-size: 32px;
  line-height: 36px;
}

.light-green {
background-color: #8fd36f;
}
.green-3 {
background-color: #26656e;
}

.green-2 {
  background-color: #137a7e;
}

.green-1 {
  background-color:#009e8e;
}

.video-pane { 
  background-color: #16555e;
  border-radius: 6px;
  box-shadow: inset 0px 0px 10px 0px rgba(30,30,30,0.6);
}

.btn-green {
  display: inline-block;
  background-color: #8fd36f;
  border-radius: 8px;
  color:#fff;
  font-size: 18px;
  padding: 18px 24px;
  font-family: 'verb_regularregular';
}