.IN-widget {
  display: inline-block;
  padding: 5px;
}

.pane p {
  font-size: 16px;
  vertical-align: bottom;
}

h2 {
  font-size: 42px;
  line-height: 50px;
}

.login {
  display: inline-block;
}
.login .line {
  display: inline-block;
  height: 42px;
}


.login form input[type="password"], input[type="text"] {
  width: 120px;
  float: right;
}

input[type="password"], input[type="text"] {
  height: 32px;
}

body {
  background-color: #fff;
}

form {
  margin: 0;
}