label {
  display: inline-block;
  font-weight: bold;
}

.expandible {
  cursor: pointer;
}

.content-editor li.expanded {
  display: inline-block;
}
.expandible.expanded {
  display: inline-block;
}

.element-create-form {
  padding: 20px;
  background-color: #eee;
  border-top: 1px solid #aaa;
  margin-bottom: 0;
}

.content-editor li {
  display: none;
}

.left-bar {
  border-right: 1px solid #ccc;
  height: 100%;
}

.right-bar, .content-editor, .base-css {
  height: 800px;
}

.ace_gutter, .ace_scroller {
  padding-top: 10px;
}

.base-css {
}

.uie-gallery li {
  padding: 0;
}

.pages-list {
  display: inline-block;
}

.pages-list li {
  display: block;
}

.pane-inline {
  background-color: #fff !important;
}