.modal.tutorial-view {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  border: none;
  overflow: visible;
}

.tutorial-content {
  display: inline-block;
  width: 220px;
  background-color: #fff;
  position: fixed;
  width: 700px;
  margin-left: -40px;
  height: 580px;
  top: 50px;
  z-index: 3002;
  box-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.tutorial-menu {
  display: inline-block;
  width: 220px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 60px;
  margin-left: -560px;
  border-radius: 6px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 3001;
}

.tutorial-menu ul li {
  font-size: 16px;
  padding: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  cursor: pointer;
}

.tutorial-menu ul li:hover {
  background-color: #1F8DD7;
  color: #fff;
}

.tutorial-menu ul li.selected {
  background-color: #1F8DD7;
  color: #fff;
}

.tutorial-menu ul ul li {
  padding-left: 32px;
  font-weight: normal;
  font-size:  14px;
}

.modal.tutorial-view .tutorial-menu {
    -webkit-animation-name:none;
    -moz-animation-name:none;
    -ms-animation-name:none;
    -o-animation-name:none;
    animation-name:none;
}

.tutorial-view {
    -webkit-animation-name:flyin;
    -moz-animation-name:flyin;
    -ms-animation-name:flyin;
    -o-animation-name:flyin;
    animation-name:flyin;
}

.flyin {
    -webkit-animation-name:flyin;
    -moz-animation-name:flyin;
    -ms-animation-name:flyin;
    -o-animation-name:flyin;
    animation-name:flyin;
}

.flyout {
    -webkit-animation-name:flyout;
    -moz-animation-name:flyout;
    -ms-animation-name:flyout;
    -o-animation-name:flyout;
    animation-name:flyout;
}


  @-webkit-keyframes flyin {
    0% {
      /*transform*/
      margin-top: -800px;
    }
    55% {
      margin-top: -550px;
    }
    75% {
      margin-top: -425px;
    }
    100% {
      margin-top: -300px;
    }
  }

  @-webkit-keyframes flyout {
    0% {
      /*transform*/
      margin-top: -300px;
    }
    55% {
      margin-top: 100px;
    }
    75% {
      margin-top: 325px;
    }
    100% {
      margin-top: 500px;
    }
  }
