.tutorial-menu {
  display: inline-block;
  width: 220px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  margin-left: -600px;
  border-radius: 6px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tutorial-menu ul li {
  font-size: 16px;
  padding: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  cursor: pointer;
}

.tutorial-menu ul li:hover {
  background-color: #1F8DD7;
  color: #fff;
}

.tutorial-menu ul li.selected {
  background-color: #1F8DD7;
  color: #fff;
}

.tutorial-menu ul ul li {
  padding-left: 32px;
  font-weight: normal;
  font-size:  14px;
}

.modal.tutorial-view {
    -webkit-animation-name:none;
    -moz-animation-name:none;
    -ms-animation-name:none;
    -o-animation-name:none;
    animation-name:none;
}