@font-face {
    font-family: 'verb_regularregular';
    src: url('../font/verb_regular/VerbRegular-webfont.eot');
    src: url('../font/verb_regular/VerbRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/verb_regular/VerbRegular-webfont.woff') format('woff'),
         url('../font/verb_regular/VerbRegular-webfont.ttf') format('truetype'),
         url('../font/verb_regular/VerbRegular-webfont.svg#verb_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verb_mediumregular';
    src: url('../font/verb_medium/VerbMedium-webfont.eot');
    src: url('../font/verb_medium/VerbMedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/verb_medium/VerbMedium-webfont.woff') format('woff'),
         url('../font/verb_medium/VerbMedium-webfont.ttf') format('truetype'),
         url('../font/verb_medium/VerbMedium-webfont.svg#verb_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verb_regularbold';
    src: url('../font/verb_bold/VerbBold-webfont.eot');
    src: url('../font/verb_bold/VerbBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/verb_bold/VerbBold-webfont.woff') format('woff'),
         url('../font/verb_bold/VerbBold-webfont.ttf') format('truetype'),
         url('../font/verb_bold/VerbBold-webfont.svg#verb_regularbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verb_lightitalic';
    src: url('../font/verb_lightitalic/VerbLight-Italic-webfont.eot');
    src: url('../font/verb_lightitalic/VerbLight-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/verb_lightitalic/VerbLight-Italic-webfont.woff') format('woff'),
         url('../font/verb_lightitalic/VerbLight-Italic-webfont.ttf') format('truetype'),
         url('../font/verb_lightitalic/VerbLight-Italic-webfont.svg#verb_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


* {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  font-weight: lighter;
  background-color: #fff;
  padding-bottom: 60px;
  color: #0f2d40;
}

h1,h2, h3 {
  font-family: 'verb_regularbold';
  font-weight: bold;
  color: #0f2d40;
}

h2 {
  font-family: 'verb_regularbold';
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-family: 'verb_regularbold';
  font-size: 20px;
  font-weight: bold;
}

a.pane:hover {
  text-transform: none;
  text-decoration: none;
}

.green-1 {
  background-color: #8ed26e;
}

.green-2 {
  background-color: #26657a;
}

.green-3 {
  background-color: #0c5070;
}

.navbar-inner {
  opacity:0.8; 
  background-color:#000; 
  background-image: none; 
  overflow:visible;
}

h1.name {
  display: block;
  font-family: 'verb_regularregular';
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #8fd36f;
}

.pane {
  position: relative;
  display: inline-block;
  background-color: #8fd36f ;
  border-radius: 4px;
  box-shadow: 0 1px 3px #b9bbbe;
  width: 100%;
  overflow: hidden;
}

.pane-inline {
  position: relative;
  display: inline-block;
  background-color: #1C3a62 ;
  border-radius: 6px;
  color: #fff;
  box-shadow: 0 1px 3px #b9bbbe;
  overflow: hidden;
}

.pane.inset {
  box-shadow: inset 0 0 3px #b9bbbe;
  border: 1px solid #bbb;
  color: #000;
  background-color: transparent;
}

.minhi {
  min-height: 90px;
}

.pane.border, .pane-inline.border {
  background-color: transparent;
  border: 5px solid #2b3545;
  color: #2b3545;
  font-size: 18px;
  text-align: center;
  padding-top: 14px;
  cursor: pointer;
}

.pane img {
  position: absolute;
  right: -10px;
  bottom: -34px;
  opacity: 0.4;
  transition: opacity 0.6s;
  -moz-transition: opacity 0.6s; /* Firefox 4 */
  -webkit-transition: opacity 0.6s; /* Safari and Chrome */
  -o-transition: opacity 0.6s; /* Opera */
  width: 140px;
  height: 140px;
}

.pane:hover img {
  opacity: 0.9;
}

.block {
  display: block;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:visited {
  color: inherit;
}

.t-border {
  border-top: 1px solid #ccc;
  padding-top: 2px;
}

.b-border {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
}

.tb-border {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 2px;
  padding-bottom: 2px;
}

.buttons {
  padding-top: 14px;
}


input[type="text"] {
  height: 32px;
  margin: 0;
  outline-width: 1px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  display: inline-block;
}

.accordion {
}

.ltxt {
  font-size: 28px;
  line-height: 40px;
}

.mtxt { 
  font-family: 'verb_regularbold';
  font-size: 18px;
}

.pad1 {
  padding: 5px;
}

.pad2 {
  padding: 10px;
}

.small {
  font-size: 10px;
}

.micro {
  font-size: 8px;
  line-height: 10px;
}
.bold {
  font-weight: bold;
}

.modal {
  opacity: 1.0;
  background-color: #fff;
  padding: 30px;
}

.element-node {
  min-height: 200px;
  padding: 20px;
  text-align: center;
}

.thanks {
  font-size: 24px;
  line-height: 30px;
}

.left-menu {
  height: 100%;
  border-right: 1px solid #ccc;
}

.left-menu li {
  height: 45px;
  padding: 12px;
  font-weight: bold;
  border-top: 1px solid #fff;
  cursor: pointer;
}

.left-menu li.selected {
  background-color: #26657a;
  color: #fff;
}

.column {
  border-left: 1px solid #AAA;
  height: 100%;
}

.column:last-child {
  border-right: 1px solid #AAA;
}

.tbl {
  display: inline-block;
}

.tbl .hdr {
  font-weight: bold;
  border-bottom: 1px solid #AAA;
  height: 30px;
  padding: 4px;
}
.tbl {
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  border-radius: 3px;
}

.column > div {
  padding: 4px;
  border-bottom: 1px solid #AAA;
}

.add-property-button {
  padding: 6px;
}

.sub-menu {
  background-color: #137a7e;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #036a6e;
}

.sub-menu li {
  height: 30px;
  padding: 5px;
  color: #fff;
  font-size: 12px;
}

.sub-menu li {
  border-top: 1px solid #036a6e;
}

.property-name-input {
  font-size: 12px !important;
}

.property-list {
  display: inline-block;
}

.tbl {
  height: 137px;
}

.tbl-wrapper {
  height: 137px;
  overflow-x: scroll;
}

.tbl-wrapper .remove {
  font-size: 10px;
  background-color: #c95446;
  border: none;
  color:#fff;
  border-radius: 10px;
  line-height: 10px;
  height: 20px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.btn-reset {
  margin-top: 4px;
}

.theme-gallery {
  border-left: 1px solid #ccc;
  text-align: center;
  padding-top: 10px;
  padding-left: 4px;
}

.theme-gallery li {
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px;
}

.theme-gallery li:hover {
  background-color: #8fd36f;
}

.theme-gallery li span {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.theme-gallery h3 {
  margin-bottom: 10px;
}

.uie-gallery li{
  padding-bottom: 20px;
}

.create-page {
  cursor: pointer;
}

hr {
  margin: 10px 0;
}

.btn-green {
  display: inline-block;
  background-color: #7fc35f;
  border-radius: 8px;
  color:#fff;
  font-size: 18px;
  padding: 16px 24px;
  font-family: 'verb_regularregular';
  background-image: none !important;
  border: 1px solid #6fb34f;
  text-shadow:none;
}

.btn-green:hover {
  background-color: #5fb33f;
  color: #fff;
}

.btn-blue {
  display: inline-block;
  background-color: #0f2d40;
  border-radius: 8px;
  color:#fff;
  font-size: 14px;
  padding: 14px 20px;
  font-family: 'verb_regularregular'; 
  background-image: none !important;
  text-shadow: none;
  line-height: 18px;
}

.btn-blue:hover {
  background-color: #0f1d30;
  color: #fff;
}

.btn img {
  margin-left: 4px;
}

.edit {
  background-image: url(../img/edit.png);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.delete {
  background-image: url(../img/trash.png);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.navbar .nav .dropdown{
  font-family: 'verb_mediumregular';
  margin-top: 10px;
}

.well {
  position: relative;
  overflow: hidden;
  border-radius: 0 !important;
  border:none;
}
