@font-face {
    font-family: 'verb_regularregular';
    src: url('../font/verb_regular/VerbRegular-webfont.eot');
    src: url('../font/verb_regular/VerbRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/verb_regular/VerbRegular-webfont.woff') format('woff'),
         url('../font/verb_regular/VerbRegular-webfont.ttf') format('truetype'),
         url('../font/verb_regular/VerbRegular-webfont.svg#verb_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verb_mediumregular';
    src: url('../font/verb_medium/VerbMedium-webfont.eot');
    src: url('../font/verb_medium/VerbMedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/verb_medium/VerbMedium-webfont.woff') format('woff'),
         url('../font/verb_medium/VerbMedium-webfont.ttf') format('truetype'),
         url('../font/verb_medium/VerbMedium-webfont.svg#verb_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verb_regularbold';
    src: url('../font/verb_bold/VerbBold-webfont.eot');
    src: url('../font/verb_bold/VerbBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/verb_bold/VerbBold-webfont.woff') format('woff'),
         url('../font/verb_bold/VerbBold-webfont.ttf') format('truetype'),
         url('../font/verb_bold/VerbBold-webfont.svg#verb_regularbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verb_lightitalic';
    src: url('../font/verb_lightitalic/VerbLight-Italic-webfont.eot');
    src: url('../font/verb_lightitalic/VerbLight-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/verb_lightitalic/VerbLight-Italic-webfont.woff') format('woff'),
         url('../font/verb_lightitalic/VerbLight-Italic-webfont.ttf') format('truetype'),
         url('../font/verb_lightitalic/VerbLight-Italic-webfont.svg#verb_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


* {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  font-weight: lighter;
  background-color: #fff;
  padding-bottom: 60px;
  color: #0f2d40;
  background-color: #e3e3e3;
}

h1,h2, h3 {
  font-family: 'verb_regularbold';
  font-weight: bold;
  color: #0f2d40;
}

h2 {
  font-family: 'verb_regularbold';
  font-size: 28px;
  line-height: 30px;
  font-weight: bold;
}

h3 {
  font-family: 'verb_regularbold';
  font-size: 20px;
  font-weight: bold;
}

a.pane:hover {
  text-transform: none;
  text-decoration: none;
}

.green-1 {
  background-color: #8ed26e;
}

.green-2 {
  background-color: #26657a;
}

.green-3 {
  background-color: #0c5070;
}

.navbar-inner {
 opacity:1 !important; 
/*  background-color:#000;
*/  /*background-image: none; */
  overflow:visible;
  background: #f8f8f8 !important;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.9)), color-stop(100%, rgba(241,241,241,0.9))) !important;
  border-bottom-color: rgba(0,0,0,0.22) !important;
}

h1.name {
  display: block;
  font-family: 'verb_regularregular';
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #0f2d40;
}

.pane {
  position: relative;
  display: inline-block;
  background-color: #f3f3f3 ;
  background: -webkit-linear-gradient(#f3f3f3,#efefef);
  border-radius: 4px;
  box-shadow: 0 1px 3px #b9bbbe;
  overflow: hidden;
}

.pane-inline {
  position: relative;
  display: inline-block;
  background-color: #1C3a62 ;
  border-radius: 6px;
  color: #fff;
  box-shadow: 0 1px 3px #b9bbbe;
  overflow: hidden;
}

.pane.inset {
  box-shadow: inset 0 0 3px #b9bbbe;
  border: 1px solid #bbb;
  color: #000;
  background-color: transparent;
}

.minhi {
  min-height: 90px;
}

.pane.border, .pane-inline.border {
  background-color: transparent;
  border: 5px solid #2b3545;
  color: #2b3545;
  font-size: 18px;
  text-align: center;
  padding-top: 14px;
  cursor: pointer;
}

.pane img {
  position: absolute;
  right: -10px;
  bottom: -28px;
  opacity: 0.15;
  transition: opacity 0.6s;
  -moz-transition: opacity 0.6s; /* Firefox 4 */
  -webkit-transition: opacity 0.6s; /* Safari and Chrome */
  -o-transition: opacity 0.6s; /* Opera */
  width: 120px;
  height: 120px;
}

.pane:hover img {
  opacity: 0.9;
}

.block {
  display: block;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:visited {
  color: inherit;
}

.t-border {
  border-top: 1px solid #ccc;
  padding-top: 2px;
}

.b-border {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
}

.tb-border {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 2px;
  padding-bottom: 2px;
}

.buttons {
  padding-top: 14px;
}


input[type="text"] {
  height: 32px;
  margin: 0;
  outline-width: 1px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  display: inline-block;
}

.accordion {
}

.ltxt {
  font-size: 28px;
  line-height: 40px;
}

.mtxt { 
  font-family: 'verb_regularbold';
  font-size: 18px;
}

.pad1 {
  padding: 5px;
}

.pad2 {
  padding: 10px;
}

.small {
  font-size: 10px;
}

.micro {
  font-size: 8px;
  line-height: 10px;
}
.bold {
  font-weight: bold;
}

.modal {
  opacity: 1.0;
  background-color: #fff;
  padding: 30px;
  color:  #000;
}
.modal .title, .modal h2, .modal h1 {
  color: #000;
}

.element-node {
  min-height: 200px;
  padding: 20px;
  text-align: center;
}

.thanks {
  font-size: 24px;
  line-height: 30px;
}

.left-menu {
  height: 100%;
  border-right: 1px solid #ccc;
}

.left-menu li {
  height: 45px;
  font-weight: bold;
  border-top: 1px solid #fff;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.left-menu li.selected {
  background-color: #26657a;
  color: #fff;
}

.left-menu li a {
  padding: 12px;
  display: block;
}


.left-menu li:hover {
  color: #fff;
  background-color: #26657a;
}


.column {
  border-left: 1px solid #ccc;
  height: 100%;
}

.column:last-child {
  border-right: 1px solid #ccc;
}

.column > div {
  padding: 4px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.add-property-button {
  display: block;
  text-align: center;
  font-size: 12px;
  height: 100%;
}

.add-property-column:hover {
  background-color: rgba(19, 122, 126, 0.1);
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s; /* Firefox 4 */
  -webkit-transition: background-color 0.4s; /* Safari and Chrome */
  -o-transition: background-color 0.4s; /* Opera */
}

.sub-menu {
}


.sub-menu .show-data {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #137a7e;
}


.sub-menu li {
  padding: 5px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 10px;
}

.sub-menu .left-icon {
  text-align: center;
  font-weight: bold;
}

.sub-menu li {
}

.property-name-input {
  font-size: 12px !important;
}

.property-list {
  display: inline-block;
}

.btn-reset {
  margin-top: 4px;
}

.theme-gallery {
  text-align: left;
  padding-top: 10px;
  padding-left: 4px;
  margin-top: 18px;
}

.theme-gallery li {
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px;
}

.theme-gallery li:hover {
  background-color: #8fd36f;
}

.theme-gallery li span {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.theme-gallery h3 {
  margin-bottom: 10px;
}

.uie-gallery li{
  padding-bottom: 20px;
}

.create-page {
  cursor: pointer;
}

hr {
  margin: 10px 0;
}

.btn-green {
  display: inline-block;
  background-color: #7fc35f;
  border-radius: 6px;
  color:#fff;
  font-size: 18px;
  padding: 16px 24px;
  font-family: 'verb_regularregular';
  background-image: none !important;
  border: 1px solid #6fb34f;
  text-shadow:none;
}

.btn-green:hover {
  background-color: #5fb33f;
  color: #fff;
}

.btn-blue {
  display: inline-block;
  background-color: #0f2d40;
  border-radius: 6px;
  color:#fff;
  font-size: 14px;
  padding: 14px 20px;
  font-family: 'verb_regularregular'; 
  background-image: none !important;
  text-shadow: none;
  line-height: 18px;
}

.btn-blue:hover {
  background-color: #0f1d30;
  color: #fff;
}

.btn img {
  margin-left: 4px;
}

.edit {
  background-image: url(../img/edit.png);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.delete {
  background-image: url(../img/trash.png);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.navbar .nav .dropdown{
  font-family: 'verb_mediumregular';
  height: 100%;
}

.dropdown-toggle {
  padding-top: 20px !important;
  height: 100%;
  color: #0f2d40 !important;
}

.caret {
  border-top-color: #0f2d40 !important;
  border-bottom-color: #0f2d40 !important;
}

.dropdown-toggle:hover {
  color: #0f2d40 !important;
}

.dropdown-toggle:hover .caret {
  border-top-color: #0f2d40 !important;
  border-bottom-color: #0f2d40 !important;
}

.dropdown.open .dropdown-toggle {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.9)), color-stop(100%, rgba(241,241,241,0.9))) !important;
  box-shadow: inset 0 0 6px 0 rgba(60, 60, 60, 0.4);
}

.well {
  position: relative;
  overflow: hidden;
  border-radius: 0 !important;
  border:none;
}

.mascot {
  background-image: url(../img/mascot.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.modal-cross {
  font-size: 16px;
  cursor: pointer;
}

.save-btn, .save-btn-nofix { 
  position: fixed;
  top: 105px;
  left: 50%;
  margin-left: 500px;
  height: 52px;
  width: 52px;
  border-radius: 4px;
  cursor: pointer;
  background-image: none;
  background-color: #000;
  opacity: 0.6;
  text-shadow: none;
  background-image: url(../img/save.png);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  transition: opacity 0.6s;
  -moz-transition: opacity 0.6s; /* Firefox 4 */
  -webkit-transition: opacity 0.6s; /* Safari and Chrome */
  -o-transition: opacity 0.6s; /* Opera */
  background-size: 44% auto;
}

.save-btn:hover, .save-btn-nofix:hover {
  background-color: #000;
  opacity: 0.8;
}

.save-btn-nofix {
  position: static;
  margin-right: 0;
  margin-left: 0;
}

.delete-btn, .delete-btn-nofix { 
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: 500px;
  height: 52px;
  width: 52px;
  border-radius: 4px;
  cursor: pointer;
  background-image: none;
  background-color: #000;
  opacity: 0.6;
  text-shadow: none;
  background-image: url(../img/trash.png);
  background-size: 44% auto;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  transition: opacity 0.6s;
  -moz-transition: opacity 0.6s; /* Firefox 4 */
  -webkit-transition: opacity 0.6s; /* Safari and Chrome */
  -o-transition: opacity 0.6s; /* Opera */
}

.delete-btn:hover, .delete-btn-nofix:hover {
  background-color: #000;
  opacity: 0.8;
}

.delete-btn-nofix {
  position: static;
  margin-right: 0;
  margin-left: 0;
}

.add-txt {
  color: #aaa;
  transition: color 0.6s;
  -moz-transition: color 0.6s; /* Firefox 4 */
  -webkit-transition: color 0.6s; /* Safari and Chrome */
  -o-transition: color 0.6s; /* Opera */
}

.add-img {
  opacity: 0.5;
  transition: opacity 0.6s;
  -moz-transition: opacity 0.6s; /* Firefox 4 */
  -webkit-transition: opacity 0.6s; /* Safari and Chrome */
  -o-transition: opacity 0.6s; /* Opera */
}

.add-entity:hover .add-txt {
  color: #0f2d40;
}

.add-entity:hover .add-img {
  opacity: 1;
}

.small-t {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  height: 12px;
  line-height: 12px;
}


