{% extends "infra-html.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gallery.css">

{% endblock %}

{% block topbar %}
<div class="row">
  <div class="offset2 toppanel hi3">
  <h1 class="name hoff1"><a href="{% url v1factory.views.app_list %}">Heap Engine</a> | {{ title }}</h1>
  </div>
</div>
{% endblock %}

{% block page %}
<div class="container">
  <div class="row top-buttons offset1 span30 tb-border">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <div class="row span30">
    <div id="elements-list">
    {% for element in elements %}
    <div class="span9 offset1 hoff1">
      <div class="pane border minhi">
      {{ element.html|safe }}
      </div>
    </div>
    {% endfor %}
    </div>  
    <div class="span9 offset1 hoff1">
      <div class="pane border minhi" id="create-element-button">
        <span class="create-text">+ Create an element</span>
        <form class="element-create-form" id="element-create-form" style="display:none;">
          <input type="text" name="name" placeholder="Name">
          <input type="text" name="class_name" placeholder="Classname">
          <textarea type="text" name="html" placeholder="HTML"></textarea>
          <textarea type="text" name="css" placeholder="CSS"></textarea>
          <select name="type">
            <option>Select TagName</option>
            <option>h1</option>
            <option>h2</option>
            <option>h3</option>
            <option>span</option>
            <option>div</option>
            <option>input type="text"</option>
            <option>select</option>
            <option>textarea</option>
            <option>img</option>
          </select>
          <input type="submit" value="Add" class="btn">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/html" id="temp-element">
<div class="span9 offset1 hoff1">
  <div class="pane border minhi">
    <<%= tag_name %> class="<%= class_name %>" style="<%= style %>">
    Sample
    <% if(tag_name != 'input type="text"' && tag_name != 'img') {%>
    </<%=tag_name%>>
    <% } %>
  </div>
</div>

</script>
<script type="text/javascript">
$('#create-element-button').on('click', function() {
  $('.create-text').hide();
  $('.element-create-form').fadeIn();
})

$('#element-create-form').on('submit', function(e) {
  var elem =  $('#element-create-form').serialize();
  $.ajax({
    type: "POST",
    url: '/uielement/new/',
    data: elem,
    success: function() {

    },
    dataType: "JSON"
  });
  e.preventDefault();

  var elem = $('#element-create-form').serializeArray();
  var temp = document.getElementById('temp-element').innerHTML;
  console.log(elem);
  html = _.template(temp, { 
                            style: elem[3].value, 
                            tag_name: elem[4].value, 
                            class_name: elem[1].value
                          });
  $("#elements-list").append(html);
  $('.create-text').fadeIn();
  $('.element-create-form').hide();
})
</script>
{% endblock %}
