{% extends "infra-html.html" %}

{% block css %}
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
      api_key: t0q97cjtk5kf
      scope: r_basicprofile r_emailaddress
    </script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
{% endblock %}

{% block topbar %}
<div class="row">
  <div class="offset2 toppanel hi3">
  <h1 class="name hoff1"><a href="{% url v1factory.views.app_list %}">Heap Engine</a> | {{ title }}</h1>
  </div>
</div>
{% endblock %}

{% block page %}
  <div class="container">
  <div class="row">
    <div class="offset2 span19">
      <a class="pane hi4 entities" href="{% url v1factory.views.entities app.id %}">
        <img src="{{ STATIC_URL }}img/entities.png">
        <div class="hoff1 offset1">
        <h2>Models</h2>
        </div>
      </a>
      <a class="pane hi4 hoff1" href="{% url v1factory.views.app_urls app.id %}">
        <img src="{{ STATIC_URL }}img/urls.png">
        <div class="hoff1 offset1">
        <h2>URLs</h2>
        </div>
      </a> 
      <a class="pane hi4 hoff1" href="{% url v1factory.views.app_design app.id %}">
        <img src="{{ STATIC_URL }}img/design.png">
        <div class="hoff1 offset1">
        <h2>Design</h2>
        </div>
      </a> 
      <a class="pane hi4 hoff1" href="{% url v1factory.views.app_editor app.id %}">
        <img src="{{ STATIC_URL }}img/editor.png">
        <div class="hoff1 offset1">
        <h2>Templates</h2>
        </div>
      </a>
    </div>
    <div class="offset1 span8">
      <a class="pane hi9" href="{% url v1factory.views.app_editor app.id %}">
        <img src="{{ STATIC_URL }}img/editor.png">
        <div class="hoff1 offset1">
        <h2>App Info</h2>
        </div>
      </a>
      <a class="pane hi4 hoff1" href="{% url v1factory.views.app_gallery app.id %}">
        <img src="{{ STATIC_URL }}img/design.png">
        <div class="hoff1 offset1">
        <h2>Gallery</h2>
        </div>
      </a>
      <a class="pane hi4 hoff1" href="{% url v1factory.views.app_editor app.id %}">
        <img src="{{ STATIC_URL }}img/editor.png">
        <div class="hoff1 offset1">
        <h2>Account Info</h2>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
    </script>
{% endblock %}
