{% extends "infra-html.html" %}

{% block css %}
    <script type="text/javascript" src="//use.typekit.net/kqa1all.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/entities.css">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">
{% endblock %}

{% block topbar %}
<div class="row">
  <div class="offset2 toppanel span22 hi3">
  <h1 class="name hoff1"><a href="{% url v1factory.dev_views.app_list %}">Heap Engine</a> | {{ title }}</h1>
  </div>
  <div class="span8 hoff1 right">
    <a class="btn">Go back</a><a class="btn">Cancel</a><a class="btn" id="save-entities">Save</a>
  </div>
</div>
{% endblock %}

{% block page %}
<div class="container" id="entities-page">
  <div class="row top-buttons offset1 span30 tb-border">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <div class="row offset1">
    <div class="span30 hoff1">
      <div class="pane hi8" id="user-entity">
        <h2 class="offset1 hoff1">User</h2>
        <div class="offset1 span6">
          <ul class="property-l">
            <li>
              <span class="hi1 span3" id="">Name</span>
              <select class="attribs" id="Name" disabled>
                <option value="text" selected="">Text</option>
              </select>
            </li>
            <li>
              <span class="hi1 span3" id="">Last Name</span>
              <select class="attribs" id="Addres" disabled>
                <option value="text" selected="">Text</option>
              </select>
            </li>
            <li>
              <span class="hi1 span3" id="">Email</span>
              <select class="attribs" id="Students" disabled>
                <option value="text" selected="">Text</option>      
              </select>
            </li>
          </ul>
        </div>
        <div class="offset2 span6">
          <ul class="property-list">
          </ul>
          <a class="add-property-button span7 hoff1"><span class="plus">+</span> Add Property</a>
          <form class="add-property-form span5 hoff1" style="display:none"><input type="text" class="property-name-input"></form>
        </div>
        <div class="span6 offset1">
          <label class="hi1"><input class="cb-login" type="checkbox" value="local">Local Login</label>
          <label class="hi1"><input class="cb-login" type="checkbox" value="facebook">Facebook Login</label>
          <label class="hi1"><input class="cb-login" type="checkbox" value="linkedin">LinkedIn Login</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row top-buttons offset1 hoff1 span30 tb-border">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <div class="row">
    <div class="span24 offset1 hoff1">
      <h2 class="offset1">Entities</h2>
      <div id="entities-container">
      <ul id="entities" class="entity-list"></ul><div id="add-entity-button" class="span7 offset1 add-entity"><span class="pane hi5 hoff1"><p class="hoff2"> + Add Entity</p></span></div>
      <form id="add-entity-form" class="offset1 span7 entity hoff1" style="display:none;">
        <div class="pane">
        <span class="sub-title">
          <input type="text" id="entity-name-input" placeholder="Entity Name"></span>
        </div>
      </form>
      </div>
    </div><div class="span5 hoff1" id="entities-library-view">
      <h2 class="offset1">Library</h2>
      <ul id="entities-library" class="entity-list">
      </ul>
    </div>
  </div>
</div>

<script>
  var appState = {{ app.state_json|safe }};
  var entitiesLibrary = [
                  {
                    name : "Post",
                    fields : {
                      "Text":"text", 
                      "Date":"date",
                      "Title":"text"
                    }
                  },
                  {
                    name : "Glasses",
                    fields : {
                      "Price":"number", 
                      "Brand": "number"
                    }
                  }
               ];

</script>
<script type="text/html" id="template-entity">
<span class="pane hoff1">
<span class="sub-title span5"><%- name %></span><span class="cross" id="cross">×</span>
<ul class="property-list">
  <% _( attribs).each(function(val, key){ %><li>
    <span class="hi1 span3" id=""><%- key %></span><span class="right cross small" id="prop-cross">×</span>
    <select class="attribs" id="<%- key %>">
      <option value="text" <% if(val=="text") %> selected <% %>>Text</option>
      <option value="number" <% if(val=="number") %> selected <% %>>Number</option>
      <option value="email" <% if(val=="email") %> selected <% %>>Email</option>
      <% _.each( other_models, function( model ){ %>
        <% if(model.get('name')!= name) %>
        <option value="<%- model.get('name') %>">List of <%- model.get('name') %></option>
        <% %>
      <% }); %>
    </select></li>
<% }); %>
</ul>
<a class="add-property-button span7 hoff1"><span class="plus">+</span> Add Property</a>
<form class="add-property-form span5 hoff1" style="display:none"><input type="text" class="property-name-input"></form></li>
</script>
<script type="text/html" id="template-property">
<li><span class="hi1 span3"><%- name %></span><span class="right cross small" id="prop-cross">×</span>
  <select class="attribs" id="<%- key %>">
    <option value="text" selected>Text</option>
    <option value="number">Number</option>
    <option value="email">Email</option>
    <% _.each( other_models, function( model ){ %>
      <% if(model.get('name')!= name) %>
      <option value="<%- model.get('name') %>">List of <%- model.get('name') %></option>
      <% %>
    <% }); %>
</select></li>
</script>
{% endblock %}

{% block js %}
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/entity-editor.js"></script>
<script type="text/javascript">

$(function() {
    $("#entities").sortable({
      update: function( event, ui ) {
        entityList.collection.add(entitiesLibrary[ui.item.attr('id').replace('entity-library-','')])
      }
    });
    $("#entities-library").sortable({
      connectWith: "#entities",
    });
});

</script>

{% endblock %}
