{% extends "infra-html.html" %}

{% block css %}
<link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/editor.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

{% endblock %}

{% block navbar %}
        <div class="navbar navbar-inverse navbar-fixed-top editing">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#">Project name</a>
            </div>
          </div>
        </div>
{% endblock %}

{% block page %}
  <div class="container editing" id="elements-container">
    <div class="elements-inside-container" id="widgets-container"></div>
  </div>
  <div class="container editing" id="body-container">
    {% include "dev/widget-gallery.html" %}
  </div>
  {% include "dev/left-editor.html" %}
  {% include "dev/right-editor.html" %}
{% endblock %}

{% block js %}
  <script type="text/javascript">
    var appState = {{ app.state|safe }};
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/grid-editor.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/widget-editor.js"></script>
{% endblock %}

