{% extends "infra-html.html" %}

{% block css %}
<link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/editor.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
{% endblock %}

{% block navbar %}
        <div class="navbar navbar-inverse navbar-fixed-top editing">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#">Project name</a>
            </div>
          </div>
        </div>
{% endblock %}

{% block page %}
  <div class="container editing" id="elements-container">
    <div class="elements-inside-container" id="widgets-container"></div>
  </div>
  <div class="container editing" id="body-container">
    {% include "dev/widget-gallery.html" %}
  </div>
  {% include "dev/left-editor.html" %}
  {% include "dev/right-editor.html" %}
{% endblock %}

{% block js %}
<script type="text/javascript">
  var appState = {{ app.state_json|safe }};
</script>
<script type="text/html" id="temp-widget-1">
<span style="
<% _(style).each(function(s) { %>
<%= s %>
<% }) %>">
<%= BLANK TEXT %>
<div class="meta">
<img class="delete" src="/static/img/delete-icon.png">
</div>
</span>
</script>
<script type="text/html" id="temp-widget-2">
<h1>Heading 1</h1>
</script>
<script type="text/html" id="temp-widget-3">
<h2>Heading 2</h2>
</script>
<script type="text/html" id="temp-widget-4">
<h3>Heading 3</h3>
</script>
<script type="text/html" id="temp-widget-5">
<form><input type="text" placeholder="Type something…"></form>
</script>
<script type="text/html" id="temp-widget-6">
<button class="btn">Button</button>
</script>
<script type="text/html" id="temp-widget-7">
<button class="btn btn-large">Button Large</button>
</script>
<script type="text/html" id="temp-widget-8">
<select>
  <option>1</option>
  <option>2</option>
  <option>3</option>
</select>
</script>
<script type="text/html" class="temp-widget-9">
<img src="{{ STATIC_URL }}img/image-sample.png" class="img-rounded">
</script>
<script type="text/html" id="temp-meta">
<div class="meta">
<img class="delete" src="/static/img/delete-icon.png">
</div>
</script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/grid-editor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/widget-editor.js"></script>
{% endblock %}

