{% extends "infra-html.html" %}

{% block css %}
<link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/editor.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
<style type="text/css">
{% for element in elements %}
.{{element.class_name }} {
{{ element.css|safe }}
}
{% endfor %}
</style>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top editing">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Project name</a>
    </div>
  </div>
</div>
{% endblock %}

{% block page %}
  <div class="container editing" id="elements-container">
    <div class="elements-inside-container" id="widgets-container"></div>
  </div>
  <div class="container editing" id="body-container">
    {% include "dev/widget-gallery.html" %}
  </div>
  {% include "dev/left-editor.html" %}
  {% include "dev/right-editor.html" %}
{% endblock %}

{% block js %}
<script type="text/javascript">
  var appState = {{ app.state_json|safe }};
</script>

{% for element in elements %}
<script type="text/html" id="temp-widget-{{ element.id }}">
{{ element.html|safe }}
</script>
{% endfor %}

<script type="text/html" id="temp-meta">
<div class="meta">
<img class="delete" src="/static/img/delete-icon.png">
</div>
</script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/editor-grid.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/editor-widgets.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/editor-entities.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/editor-info.js"></script>
<script type="text/javascript">
var widgetInfoView = new WidgetInfoView();
var pagesView = new PagesView();
pagesView.openPage(0);
</script>
{% endblock %}

