<div class="left-editor editor">
  <div class="section pages">
  <span class="title">Pages</span>
  <ul id="pages-list">
  </ul>
  </div>
  <div class="section widgets">
  <span class="title">Widgets</span>
  <ul id="widget-list">
  </ul>
  </div>
</div>
<div class="menu section">
  <ul>
    <li id="save">Save</li>
    <li id="settings"><a href="/app/1">Page Settings</a></li>
    <li><a href="/app/1">« Back to Pages</a></li>
  </ul>
</div>
<div id="page-settings" class="settings section">
  <h3 class="offset1 span6">Page Settings</h3>
  <span class="right cross">×</span>
</div>