{% extends "infra-html.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
{% endblock %}

{% block topbar %}
<div class="row">
  <div class="offset2 toppanel hi2">
  <h1 class="name"><a href="{% url v1factory.views.app_list %}">Heap Engine</a> | {{ title }}</h1>
  </div>
</div>
{% endblock %}

{% block page %}
<div class="container" id="entities-page">
<button style="background-color:red; color:white" onclick="openFilePick()">Don't push me!</button>
{% endblock %}

{% block js %}
<script>
  filepicker.setKey("AAO81GwtTTec7D8nH9SaTz");
  function openFilePick(){
    filepicker.pickMultiple({
        mimetypes: ['image/*'],
        container: 'modal',
        services:['COMPUTER', 'GMAIL', 'DROPBOX', 'INSTAGRAM', 'IMAGE_SEARCH', 'URL'],
      },
      function(FPFile){
        console.log(JSON.stringify(FPFile));
        /* url
           filename
           mimetype
           size
           isWriteable */
      },
      function(FPError){
        console.log(FPError.toString());
      }
    );
  }
</script>
{% endblock %}
