{% extends "infra-html.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-website.css">
{% endblock %}

{% block topbar %}
{% include "infra-topbar-plain.html" %}
{% endblock %}

{% block page %}
<div class="container hoff5">
  <div class="row hoff1">
    <div class="span11 offsetr1">
    </div>
    <div class="span36">
      <h3 class="">Profile Info</h3><br  />
      <h4 class="">Name</h4><br  />
      <input type="text" class="span16 hoff1" id="app-name" placeholder="Name"><br  />
      <h4 class="">Email</h4><br  />
      <input type="text" class="span16 hoff1" id="app-name" placeholder="Email"><br  />
      <input type="submit" class="btn" value="Save Changes">
      <hr>
      <div class="hoff1">
        <h3 class="">Password</h3><br  />
        <input type="text" class="span16 hoff1" id="app-name" placeholder="New Password..."><br  />
        <input type="text" class="span16" id="app-name" placeholder="Confirm Password..."><br  />
        <input type="submit" class="btn" value="Change Password">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
<script data-main="{{ STATIC_URL }}js/app/info-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
