/* * * * * * * * * * *
   Buttons
* * * * * * * * * * */

{% for b in button %}

{{b.tagName}}.{{b.class_name}} { 
{{b.style}}
}

{% endfor %}

/* * * * * * * * * * *
   Images
* * * * * * * * * * */

{% for i in images %}

{{i.tagName}}.{{i.class_name}} { 
{{i.style}}
}

{% endfor %}

/* * * * * * * * * * *
   Headers
* * * * * * * * * * */

{% for ht in header-text %}

{{ht.tagName}}.{{ht.class_name}} { 
{{ht.style}}
}

{% endfor %}

/* * * * * * * * * * *
   Text
* * * * * * * * * * */

{% for t in text %}

{{t.tagName}}.{{t.class_name}} { 
{{t.style}}
}

{% endfor %}


/* * * * * * * * * * *
   Links
* * * * * * * * * * */

{% for l in link %}

{{l.tagName}}.{{l.class_name}} { 
{{l.style}}
}

{% endfor %}

/* * * * * * * * * * *
   Text Input
* * * * * * * * * * */

{% for ti in text-input %}

{{ti.tagName}}.{{ti.class_name}} { 
{{ti.style}}
}

{% endfor %}

/* * * * * * * * * * *
   Passwords
* * * * * * * * * * */

{% for p in password %}

{{p.tagName}}.{{p.class_name}} { 
{{p.style}}
}

{% endfor %}

/* * * * * * * * * * *
   Text Areas
* * * * * * * * * * */

{% for ta in text-area %}

{{ta.tagName}}.{{ta.class_name}} { 
{{ta.style}}
}

{% endfor %}

/* * * * * * * * * * *
   Lines
* * * * * * * * * * */

{% for l in line %}

{{l.tagName}}.{{l.class_name}} { 
{{l.style}}
}

{% endfor %}

/* * * * * * * * * * *
   Dropdowns
* * * * * * * * * * */

{% for d in dropdown %}

{{d.tagName}}.{{d.class_name}} { 
{{d.style}}
}

{% endfor %}

/* * * * * * * * * * *
   Boxes
* * * * * * * * * * */

{% for b in box %}

{{b.tagName}}.{{b.class_name}} { 
{{b.style}}
}

{% endfor %}
