{{ "{%" }} extends "base.html" {{ "%}" }}

{{ "{% block title %}" }}{{ context.page.name }}{{ "{% endblock %}" }}

{{ "{% block navbar %}" }}
<div class="navbar navbar-fixed-top" id="navbar">
  <div class="navbar-inner">
    <div class="container">
    <a class="brand" href="/" id="brand-name">{{ context.page.navbar_brandname }}</a>
    <ul class="nav" id="items">
{% for p in context.page.navbar_pages %}
      <li><a href="{{ '{%' }} url {{ p._django_view.view_path() }} {{ '%}' }}">{{ p.name }}</a></li>
{% endfor %}
    </ul>
    <ul class="nav pull-right">
      {{ '{% if user.is_authenticated %}' }}
      <li><a href="/logout">Logout</a></li>
      {{ '{% endif %}' }}
    </ul>
    </div>
  </div>

  
</div>
{{ "{% endblock %}" }}

{{ "{% block content %}" }}
{{ context.dom_tree.render(env)}}
{{ "{% endblock %}" }}
