body  {
  background-image:none;
} 

body  {
  background-color:#FFFFFF;
} 

body  {
  color:#000;
} 

body  {
  font-size:12px; line-height:12px;
} 

body  {
  font-family:Georgia, serif;
} 

body h2 {
  color:#666;
} 

body h2 {
  font-size:16px; line-height:16px;
} 

body h2 {
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
} 

