{{ "{%" }} extends "base.html" {{ "%}" }}


{{ "{% block navbar %}" }}
<div class="navbar" id="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#" id="brand-name">{{ context.page.navbar_brandname }}</a>
    <ul class="nav" id="items">
{% for p in context.page.navbar_pages %}
      <li><a href="{{ '{%' }} url {{ p._django_view.view_path() }} {{ '%}' }}">{{ p.name }}</a></li>
{% endfor %}
    </ul>
  </div>

  <div class="right hide-btn btn" id="hide-toggle">
    Logout
  </div>
</div>
{{ "{% endblock %}" }}

{{ "{% block content %}" }}
{{ context.dom_tree.render(env)}}
{{ "{% endblock %}" }}
