{% if context.is_normal_tag() %}
<div style="{{ context.position_css }}" class="{% for c in context.classes %}{{ c }} {% endfor %}">
  <{{ context.tagname }} id="{{ context.html_id }}" {% for k,v in context.attribs.items() %}{{ k }}="{{ v }}" {% endfor %}>
    {{ context.content() }}
  </{{ context.tagname }}>
</div>
{% else %}
<div style="{{ context.position_css }}" class="{% for c in context.classes %}{{ c }} {% endfor %}">
  <{{ context.tagname }} id="{{ context.html_id }}" {% for k,v in context.attribs.items() %}{{ k }}="{{ v }}" {% endfor %} />
</div>
{% endif %}
