{% extends "infra-html.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/entities.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/design.css">
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jscolor/jscolor.js"></script>
{% endblock %}

{% block topbar %}
{% include "infra-topbar.html" %}
{% endblock %}

{% block page %}
<a class="btn span6 save-btn" id="save-entities">Save</a>

<div class="container hoff8" id="pages-view">
  <div class="span64">
    <h3>Navigation Bars</h3>
    <div class="row" id="list-navbars">
      <div class="page-view span64 hoff2 pane">
        <div class="hi5">
          <h2 class="offset1 span32 hoff2">For Everyone</h2>
          <div class="span8 hoff1 offsetr1 right">
            <a class="edit span3 hi3" href="editor/0"></a>
            <a class="delete span3 hi3 offset1"></a>
          </div>
        </div>
      </div>
      <div class="page-view span64 hoff2 pane">
        <div class="hi5">
          <h2 class="offset1 span32 hoff2">For Users</h2>
          <div class="span8 hoff1 offsetr1 right">
            <a class="edit span3 hi3" href="editor/0"></a>
            <a class="delete span3 hi3 offset1"></a>
          </div>
        </div>
      </div>
    </div>
    <h3 class="hoff2">Pages</h3>
    <div class="row" id="list-pages">
    </div>
    <div class="hi7 page-view span64 hoff2 pane create-page" style="margin-bottom:60px;">
      <div class="">
        <h2 class="offset1 hoff3">+ Create a New Page</h2>
      </div>
      <div class="row offset1"></div>
    </div>
    <form class="hi7 page-view span64 hoff2 pane create-form" style="display:none;">
      <div class="offset1 hoff3">
        <input type="text" class="page-name" placeholder="Page Name">
      </div>
      <div class="row offset1"></div>
    </form>
  </div>
</div>
<script>
var appState = {{ app.state_json|safe }};
var appId = {{ app_id|safe }};
</script>

<script type="text/html" id="temp-page">
  <div class="span20">
    <h3 class="offset1  hoff2"><%= page_name %></h3>
    <div class="offset1 span8 hoff1 offsetr1 row">
      <a class="edit span16 btn hoff1" href="editor/<%= ind %>">Edit Page</a>
      <a class="delete span16 btn hoff1">Delete Page</a>
    </div>
  </div>
  <div class="span20">
   <div class="btn edit-url offset1 span16 hoff1">Edit URL</div>
  </div>
</script>

<script type="text/html" id="temp-menu">
<span class="span24 hi6">
<h3 class="hi2 span18 hoff1 offset1">Access Level</h3>
<div class="offset1">
  <select class="span16" id="access_level">
    <option <% if(access_level == 'all') { %> selected <% } %> value="all">Everyone</option>
    <option <% if(access_level == 'users') { %> selected <% } %> value="users">Only Users</option>
  </select>
</div>
</div>
</script>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/dicts/design-options.js"></script>
<script data-main="{{ STATIC_URL }}js/app/pages-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
