{% extends "infra-html.html" %}

{% block css %}
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
      api_key: t0q97cjtk5kf
      scope: r_basicprofile r_emailaddress
    </script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
{% endblock %}

{% block topbar %}
<div class="row">
  <div class="offset2 toppanel hi2">
  <h1 class="name"><a href="{% url v1factory.views.app_list %}">Heap Engine</a> | {{ title }}</h1>
  </div>
</div>
{% endblock %}

{% block page %}
  <div class="container">
  <div class="row">
    <div class="offset2 span18">
      <a class="pane hi6" href="{% url v1factory.views.app_analytics app.id %}">
        <div class="hoff1 offset1">
          <h2>Analytics</h2>
        </div>
      </a>
      <a class="pane hi6 hoff1" href="{% url v1factory.views.app_data app.id %}">
        <div class="hoff1 offset1">
        <h2>Company Data</h2>
        </div>
      </a>
      <a class="pane hi3 hoff1" href="{% url v1factory.views.app_finances app.id %}">
        <div class="hoff1 offset1">
        <h2>Finances</h2>
        </div>
      </a>
      <a class="pane hi3 hoff1" href="{% url v1factory.views.account app.id %}">
        <div class="hoff1 offset1">
        <h2>Account Info</h2>
        </div>
      </a>
    </div><div class="span9 offset1">
      <a class="pane hi6 entities" href="{% url v1factory.views.entities app.id %}">
        <img src="{{ STATIC_URL }}img/entities.png">
        <div class="hoff1 offset1">
        <h2>Entities</h2>
        </div>
      </a>
      <a class="pane hi6 hoff1" href="{% url v1factory.views.app_design app.id %}">
        <img src="{{ STATIC_URL }}img/design.png">
        <div class="hoff1 offset1">
        <h2>Design</h2>
        </div>
      </a> 
      <a class="pane hi7 hoff1" href="{% url v1factory.views.app_editor app.id %}">
        <img src="{{ STATIC_URL }}img/editor.png">
        <div class="hoff1 offset1">
        <h2>Editor</h2>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
    </script>
{% endblock %}
