{% extends "infra-html.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/entities.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/design.css">
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jscolor/jscolor.js"></script>
{% endblock %}

{% block topbar %}
{% include "infra-topbar.html" %}
{% endblock %}

{% block page %}
<div class="well" style="background-color:#26656e;">
  <div class="container hoff5">
    <div class="span58">
      <div class="hi4">
        <div class="" style="color:#0f2d40;">
          YOLO
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <div class="span6">
      <a class="btn span6" id="save-entities">Save</a>
      <a class="btn span6 btn-reset">Reset</a>
    </div>
  </div>
</div>

<div class="container" id="pages-view">
  <div class="span11 offsetr1">
      <ul class="left-menu">
        <li class="{% if a.id == app.id %} selected {% endif %}"><a href="{{ a.get_absolute_url }}">Page1</a></li>
        <li><a href="{% url v1factory.views.app_new %}">+ Create New</a></li>
      </ul>
  </div>
  <div class="span48">
    <h3>Navigation Bars</h3>
    <div class="row" id="list-navbars">
      <div class="page-view span64 hoff2 pane">
        <div class="hi5">
          <h2 class="offset1 span32 hoff2">For Everyone</h2>
          <div class="span8 hoff1 offsetr1 right">
            <a class="edit span3 hi3" href="editor/0"></a>
            <a class="delete span3 hi3 offset1"></a>
          </div>
        </div>
      </div>
      <div class="page-view span64 hoff2 pane">
        <div class="hi5">
          <h2 class="offset1 span32 hoff2">For Users</h2>
          <div class="span8 hoff1 offsetr1 right">
            <a class="edit span3 hi3" href="editor/0"></a>
            <a class="delete span3 hi3 offset1"></a>
          </div>
        </div>
      </div>
    </div>
    <h3 class="hoff2">Pages</h3>
    <div class="row" id="list-pages">
    </div>
    <div class="hi7 page-view span64 hoff2 pane create-page" style="margin-bottom:60px;">
      <div class="">
        <h2 class="offset1 hoff3">+ Create a New Page</h2>
      </div>
      <div class="row offset1"></div>
    </div>
    <form class="hi7 page-view span64 hoff2 pane create-form" style="display:none;">
      <div class="offset1 hoff3">
        <input type="text" class="page-name" placeholder="Page Name">
      </div>
      <div class="row offset1"></div>
    </form>
  </div>
</div>
<script>
var appState = {{ app.state_json|safe }};
var appId = {{ app_id|safe }};
</script>

<script type="text/html" id="temp-page">
  <div class="hi4">
    <h2 class="offset1 span20 hoff2"><%= page_name %></h2>
    <div class="offset1 span8 hi3 hoff1 offsetr1 right">
      <a class="edit span3 hi3" href="editor/<%= ind %>"></a>
      <a class="delete span3 hi3 offset1"></a>
    </div>
  </div>
</script>

<script type="text/html" id="template-url">
      <h3 class="hi3 span8 hoff1">URL</h3>
      <div class="hi3 hoff1">
        <div class="span24 url">
        <% var endsWithEnt = 1;
           _.each(urls, function(url, i) { %>
          <span class="slash">/</span>
          <% if (/\{\{([^\}]+)}}/g.exec(url)) { var urlEnt = /\{\{([^\}]+)}}/g.exec(url); endsWithEnt = 1 %>
          <select class="id url-part" id="inp-<%= i %>">
          <% _.each(entities, function(entity, i) { %>
            <option <% if(entity.name == urlEnt[1]) { %> selected <% } %> > <%= entity.name %> ID</option>
          <% }); %>
            <option>Add ID</option>
          </select>
          <% } else { endsWithEnt = 0; %>
          <input type="text" class="url-part" placeholder="url_string" id="inp-<%= i %>" value='<%= url %>'>
          <% } %>
        <% }); %>

        <% if(!endsWithEnt) {%>
          <span class="slash">/</span>
          <select class="id url-part last" id="inp-new" %>>
            <option>Add ID</option>
            <option value="User"> User ID</option>
            <% _.each(entities, function(entity, i) { %>
              <option value="<%= entity.name %>"> <%= entity.name %> ID </option>
            <% }); %>
          </select>
        <% } else {%>
          <span class="slash">/</span>
          <input type="text" class="url-part last" id="inp-new" placeholder="url_string" value=''>
        <% } %>
        </div>
      </div>
</script>


<script type="text/html" id="temp-menu">
<span class="span24">
<h3 class="hi3 span12 hoff1 offset1">Access Level</h3>
<div>
  <select class="span8 hoff1" id="access_level">
    <option <% if(access_level == 'all') { %> selected <% } %> value="all">Everyone</option>
    <option <% if(access_level == 'users') { %> selected <% } %> value="users">Only Users</option>
  </select>
</div>
</div>
</script>


<script type="text/html" id="template-entity">
<span class="slash">/</span>
<select class="id url-part last" id="inp-new" %>>
  <option>Add ID</option>
  <option value="User"> User ID</option>
  <% _.each(entities, function(entity, i) { %>
  <option value="<%= entity.name %>"> <%= entity.name %> ID</option>
  <% }); %>
</select>
</script>

<script type="text/html" id="template-text">
<span class="slash">/</span>
<input type="text" class="url-part last" id="inp-new" placeholder="url_string" value=''>
</script>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/dicts/design-options.js"></script>
<script data-main="{{ STATIC_URL }}js/app/pages-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
