{% extends "infra-html.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gallery.css">

{% endblock %}

{% block topbar %}
{% include "infra-topbar.html" %}
{% endblock %}

{% block page %}
<div class="container">
  <div class="row hoff7">
    <span class="span64">
      <h2>Theme Gallery</h2>
      <ul class="theme-gallery">
        <li class="span15">
          <img src="{{ STATIC_URL }}img/theme1.png">
          <span class="theme">Theme 1</span>
        </li>
        <li class="span15">
          <img src="{{ STATIC_URL }}img/theme2.png">
          <span class="theme">Theme 2</span>
        </li>
        <li class="span15">
          <img src="{{ STATIC_URL }}img/theme3.png">
          <span class="theme">Theme 3</span>
        </li>
        <li class="span15">
          <img src="{{ STATIC_URL }}img/theme4.png">
          <span class="theme">Theme 4</span>
        </li>
      </ul>
    </span>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var appId = {{ app_id|safe }};
var statics = {{ statics|safe }};
var uieState = {{ app.uie_state_json|safe }};
</script>
<script data-main="{{ STATIC_URL }}js/app/gallery-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
