{% extends "infra-editor.html" %}

{% block css %}
<link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/editor.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/design.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet">

<script type="text/javascript" src="{{ STATIC_URL }}js/jscolor/jscolor.js"></script>
<style type="text/css">
{% for element in gallery_elements %}
.{{element.class_name }} {
{{ element.css }}
}
{% endfor %}
</style>
{% endblock %}

{% block navbar %}
<!-- <div class="navbar navbar-inverse navbar-fixed-top editing">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Project name</a>
    </div>
  </div>
</div> -->
{% endblock %}

{% block page %}
{% include "dev/editor-gallery.html" %}
<div class="container editing" id="full-container">
</div>
<div class="container editing" id="elements-container">
<div class="elements-inside-container" id="widgets-container"></div>
</div>
<div class="container editing" id="body-container"></div>
{% include "dev/editor-settings.html" %}
{% include "dev/editor-info.html" %}
<div class="loading-gif" id="loading-gif">
  <div class="logo offsetr2 hoff1">
    <span class="engine1"></span>
    <span class="engine2"></span>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var appState = {{ app.state_json|safe }};
var appId = {{ app_id|safe }};
var statics = {{ statics|safe }};
var myUIElements = {{ myuielements|safe }};
var library = {{ elements|safe }};
var pageId = {{ page_id }};
</script>
{% include "dev/editor-templates.html" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-extend.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/iui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lang.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/default-uielements.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tag-dict.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/design-options.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/list.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/idea-elements.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/constant-containers.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/models.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/collections.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/design-options.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/editor-grid.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/editor-widgets.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/editor-gallery-view.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/editor-info.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/design-editor-view.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/editor-view.js"></script>


<script type="text/javascript">
var GRID_WIDTH = 15;
var GRID_HEIGHT = 15;

var editorView = new EditorView();
</script>
<script type="text/javascript">
</script>
{% endblock %}

