{% extends "infra-html.html" %}

{% block css %}
    <script type="text/javascript" src="//use.typekit.net/kqa1all.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/entities.css">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">
{% endblock %}

{% block topbar %}
<div class="row hi4" style="position:fixed; background-color:#000; opacity:0.8; top:0; left:0; z-index:1; width:100%;">
  <div class="container">
    <div class="toppanel span18 logo-text" style="">
      <h1 class="name hoff1"><a href="{% url v1factory.views.app_list %}">v1 Factory</a> | {{ title }}</h1>
    </div>
    <div class="offset4 toppanel hi6 span30">
      <div class="login hi2 pad1" style="height:45px; margin-top: 10px;">
        hey
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page %}
<div class="well" style="background-color:#26656e;">
  <div class="container hoff5">
    <div class="span58">
      <div class="hi4">
        <div class="" style="color:#0f2d40;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <div class="span6">
      <a class="btn span6" id="save-entities">Save</a>
      <a class="btn span6 btn-reset">Reset</a>
    </div>
  </div>
</div>

<div class="container" id="entities-page">
  <div class="row hoff1">
    <ul class="span6 hoff1 sub-menu">
      <li>Upload Excel</li>
      <li>Delete</li>
    </ul>
    <div class="span58">
      <div class="pane hi12" id="user-entity">
        <div class="span10 hoff2 offset1">
          <h2 class="">User</h2>
          <div class="hoff1">
            <label class="hi2"><input class="cb-login" id="local" type="checkbox" value="local">Local Login</label>
            <label class="hi2"><input class="cb-login" id="facebook" type="checkbox" value="facebook">Facebook Login</label>
            <label class="hi2"><input class="cb-login" id="linkedin" type="checkbox" value="linkedin">LinkedIn Login</label>
          </div>
        </div>
        <span class="tbl-wrapper hi9 span44 hoff2">
          <span class="tbl">
            <div class="column span6">
              <div class="hi3 hdr">Property</div>
              <div class="hi3">Type</div>
              <div class="hi2">Is Required?</div>
            </div>
            <div class="column span6">
              <div class="hi3 hdr">First Name</div>
              <div class="hi3">
                  <select class="attribs" id="Name" disabled>
                    <option value="text" selected="">Text</option>
                  </select>
              </div>
              <div class="hi2"><input class="cb-login" id="linkedin" type="checkbox" value="linkedin"></div>
<!--               <div class="hi1 remove prop-cross">Remove</div>
 -->            </div>
            <div class="column span6">
              <div class="hi3 hdr">Last Name</div>
              <div class="hi3">
                  <select class="attribs" id="Name" disabled>
                    <option value="text" selected="">Text</option>
                  </select>
              </div>
              <div class="hi2"><input class="cb-login" id="linkedin" type="checkbox" value="linkedin"></div>
<!--               <div class="hi1 remove prop-cross">Remove</div>
 -->            </div>
            <div class="column span6">
              <div class="hi3 hdr">Email</div>
              <div class="hi3">
                  <select class="attribs" id="Name" disabled>
                    <option value="text" selected="">Text</option>
                  </select>
              </div>
              <div class="hi2"><input class="cb-login" id="linkedin" type="checkbox" value="linkedin"></div>
<!--               <div class="hi1 remove prop-cross">Remove</div>           
 -->            </div>
            <ul class="property-list"></ul><a class="column span8 right add-property-column">
                <form class="add-property-form" style="display:none">
                  <div class="hi2 hdr">
                    <input type="text" class="property-name-input span7" placeholder="Property Name...">
                  </div>
                </form>
                <span class="add-property-button"><span class="plus">+</span> Add Property</span>
            </a>
          </span>
        </span>
      </div>
    </div>
  </div>



  <div id="entities-container">
    <ul id="entities" class="entity-list">
    </ul><div id="add-entity-button" class="add-entity offset3 span58">
      <span class="pane hi10 hoff1"><p class="hoff4"> + Add Entity</p></span>
    </div>
    <form id="add-entity-form" class="offset3 span58 entity hoff1" style="display:none;">
      <div class="pane">
        <span class="sub-title">
          <input type="text" id="entity-name-input" placeholder="Entity Name">
        </span>
      </div>
    </form>
  </div>

</div>
 
<!--   <div class="row">
    <div class="span10 hoff1" id="entities-library-view">
      <h2 class="offset1">Library</h2>
      <ul id="entities-library" class="entity-list">
      </ul>
    </div>
  </div> -->
</div>

<script>
  var appState = {{ app.state_json|safe }};
  var appId = {{ app_id|safe }};

  var entitiesLibrary = [
                  {
                    name : "Post",
                    fields : [
                      {
                        name    : "Content",
                        type    : "text",
                        required: true
                      },
                      {
                        name    : "Date",
                        type    : "text",
                        required: true
                      },
                      {
                        name    : "Title",
                        type    : "text",
                        required: true
                      }
                    ]
                  },
                  {
                    name : "Glasses",
                    fields : [
                      {
                        name    : "Content",
                        type    : "text",
                        required: true
                      },
                      {
                        name    : "Date",
                        type    : "text",
                        required: true
                      },
                      {
                        name    : "Title",
                        type    : "text",
                        required: true
                      }
                    ]
                  }
               ];
               entitiesLibrary = [];

</script>
<script type="text/html" id="template-entity">
  <div class="row hoff1">
    <ul class="span6 hoff1 sub-menu">
      <li>Upload Excel</li>
      <li>Delete</li>
    </ul>
    <div class="span58">
      <div class="pane hi12" style="padding:0;">
        <div class="span10 hi9 offset1 hoff2">
          <h2><%- name %></h2>
        </div>
        <span class="tbl-wrapper hi9 span44 hoff2">
          <span class="tbl">
            <div class="column span6">
              <div class="hi3 hdr">Property</div>
              <div class="hi3">Type</div>
              <div class="hi2">Is Required?</div>
            </div>
            <ul class="property-list">
            <% _(attribs).each(function(attrib, ind){ console.log(attrib); %>
              <div class="column span6">
                  <div class="hi3 hdr"><%- attrib.get('name') %></div>
                  <div class="hi3">
                      <select class="attribs" id="Name" disabled>
                        <option value="text" <% if(attrib.type=="text") %> selected <% %>>Text</option>
                        <option value="number" <% if(attrib.type=="number") %> selected <% %>>Number</option>
                        <option value="email" <% if(attrib.type=="email") %> selected <% %>>Email</option>
                        <% _.each( other_models, function( model ){ %>
                          <% if(model.get('name')!= name) %>
                          <option value="{<%- model.get('name') %>}">List of <%- model.get('name') %>s</option>
                          <% %>
                        <% }); %>
                      </select>
                  </div>
                  <div class="hi2"><input class="cb-login" id="linkedin" type="checkbox" value="linkedin"></div>
                  <div class="hi2 prop-cross"><div class="remove">Remove</div></div>     
              </div>
            <% }); %>
            </ul><a class="column span8" style="float:none;">
              <form class="add-property-form" style="display:none">
                <div class="hi2 hdr">
                  <input type="text" class="property-name-input span7" placeholder="Property Name...">
                </div>
              </form>
              <span class="add-property-button"><span class="plus">+</span> Add Property</span>
            </a>
          </span>
        </span>
      </div>
    </div>
  </div>
</script>
<script type="text/html" id="template-property">
<div class="column span6">
  <div class="hi3 hdr"><%- name %></div>
  <div class="hi3">
    <select class="attribs" id="<%- cid %>">
      <option value="text" selected>Text</option>
      <option value="number">Number</option>
      <option value="email">Email</option>
      <% _.each(other_models, function(model){ %>
        <% if(model.name != name) %>
        <option value="{<%- model.name %>}">List of <%- model.name %>s</option>
        <% %>
      <% }); %>
    </select>
  </div>
  <div class="hi2">
    <input class="cb-login" id="linkedin" type="checkbox" value="linkedin">
  </div>
  <div class="hi2 prop-cross" id="delete-<%- cid %>">
    <div class="remove">Remove</div>
  </div>
</div>
</script>
{% endblock %}

{% block js %}
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/models.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/collections.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/entities-view.js"></script>
<script type="text/javascript">
var entityEditor   = new EntitiesEditorView();
// var entityList    = new EntityListView();
// var entityLibrary = new EntitiesLibraryView();
</script>
<script type="text/javascript">
// $(function() {
//   $("#entities").sortable({
//     update: function( event, ui ) {
//       entityList.collection.add(entitiesLibrary[ui.item.attr('id').replace('entity-library-','')], {silent: true})
//     }
//   });
//   $("#entities-library").sortable({
//     connectWith: "#entities",
//   });
// });
</script>

{% endblock %}
