{% extends "infra-html.html" %}

{% block css %}
{% endblock %}

{% block topbar %}
{% include "infra-topbar.html" %}
{% endblock %}

{% block page %}
<div class="container hoff5">
  <div class="row hoff1">
    <div class="span11 offsetr1">
    </div>
    <div class="span36">
      <div class="hoff1">
        <h3 class="span10">App Name</h3>
        <input type="text" class="span26" id="app-name" placeholder="Name of the Applications...">
      </div>
      <hr>
      <div class="hoff2">
        <h3 class="span10">Description</h3>
        <textarea class="span26 hi6" id="app-description" placeholder="Description of the application..."></textarea>
      </div>
      <hr>
      <div class="hoff2">
        <h3 class="span10">Keywords</h3>
        <textarea class="span26 hi6" id="app-keywords" placeholder="Keywords..."></textarea>
      </div>
    </div>
    <div class="span4 offset3 hoff1">
      <a class="delete-btn-nofix hoff1" id="delete"></a>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var appId = {{ app_id }};
var appState = {{ app.state_json|safe }};
</script>
<script data-main="{{ STATIC_URL }}js/app/main" data-start="{{ STATIC_URL }}js/app/pages/info-main.js" src="{{ STATIC_URL }}js/libs/require.js"></script>

{% endblock %}
