<div id="top-panel-bb">
  <div class="top-panel-title">
    <span class="right-arrow"></span><h2>Element Options </h2>
  </div>
  <div class="info-section" id="class-picker">
    <h2 class="tip">Choose elements from the pane below to start.</h2>
    <div class="down-arrow"></div>
  </div>
  <div class="top-panel-title">
    <h2>UI Elements </h2>
  </div><div class="item-gallery section" id="item-gallery"><div class="elements-list" id="elements-list">
      <div id="all-elements" class="interface-elements">
        <ul id='all-list' class="list">
        </ul>
      </div>
      <div id="interface-elements" class="interface-elements hide">
        <ul id='interface-list'>
        </ul>
      </div>
      <div id="entities-elements" class="data-elements hide">
        <ul id='entities-list' class='data-list'>
        </ul>   
      </div>
      <div id="user-elements" class="user-elements hide">
        <ul id='user-list' class='user-list'>
        </ul>   
      </div>
    </div>
  </div>
</div>
