{% extends "infra-html.html" %}

{% block css %}
    <script type="text/javascript" src="//use.typekit.net/kqa1all.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/entities.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/form-editor.css">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">
{% endblock %}

{% block topbar %}
{% include "infra-topbar.html" %}
{% endblock %}

{% block page %}
<a class="btn span6 save-btn" id="save-entities">Save</a>
<div class="container hoff6" id="entities-page">
  <div class="row hoff1">
    <ul class="span6 hoff1 sub-menu">
      <li class="show-data hi4">Show User Data</li>
      <li class="hi4">Upload Excel</li>
      <li class="hi4">Delete</li>
    </ul>
    <div class="span58 entity-pane pane">
      <div class="" id="user-entity">
        <div class="hoff2 offset1">
          <h2 class="">User</h2>
        </div>
        <h3 class="offset1 hoff1">Description</h3>
        <span class="tbl-wrapper span58 hoff1">
          <span class="tbl">
            <div class="column span6">
              <div class="hi3 hdr">Property</div>
              <div class="hi3">Type</div>
              <div class="hi2">Is Required?</div>
            </div>
            <div class="column span6">
              <div class="hi3 hdr">First Name</div>
              <div class="hi3">
                  <select class="attribs" id="Name" disabled>
                    <option value="text" selected="">Text</option>
                  </select>
              </div>
              <div class="hi2"><input class="cb-login" id="linkedin" type="checkbox" value="linkedin"></div>
            </div>
            <div class="column span6">
              <div class="hi3 hdr">Last Name</div>
              <div class="hi3">
                  <select class="attribs" id="Name" disabled>
                    <option value="text" selected="">Text</option>
                  </select>
              </div>
              <div class="hi2"><input class="cb-login" id="linkedin" type="checkbox" value="linkedin"></div>
            </div>
            <div class="column span6">
              <div class="hi3 hdr">Email</div>
              <div class="hi3">
                  <select class="attribs" id="Name" disabled>
                    <option value="email" selected="">Email</option>
                  </select>
              </div>
              <div class="hi2"><input class="cb-login" id="linkedin" type="checkbox" value="linkedin"></div>
            </div>
            <ul class="property-list"></ul><a class="column span8 right add-property-column">
                <form class="add-property-form" style="display:none">
                  <div class="hi2 hdr">
                    <input type="text" class="property-name-input span7" placeholder="Property Name...">
                  </div>
                </form>
                <span class="add-property-button"><span class="plus">+</span> Add Property</span>
            </a>
          </span>
        </span>
        <div class="span58 hi15">
          <h3 class="offset1 hoff2">Forms</h3>
          <div class="hoff1 offset1 span8">
            <label class="hi2"><input class="cb-login" id="local" type="checkbox" value="local">Local Login</label>
            <label class="hi2"><input class="cb-login" id="facebook" type="checkbox" value="facebook">Facebook Login</label>
            <label class="hi2"><input class="cb-login" id="linkedin" type="checkbox" value="linkedin">LinkedIn Login</label>
          </div>
          <ul class="form-list offset1 hoff1">
          </ul>
          <a class="span8 hi15" style="float:none;">
            <form class="add-form-form" style="display:none">
              <div class="hi2 hdr">
                <input type="text" class="form-name-input span7" placeholder="Form Name...">
              </div>
            </form>
            <span class="add-form-button offset1"><span class="plus">+</span> Add New Form</span>
          </a>
        </div>
      </div>
    </div>
  </div>



  <div id="entities-container">
    <ul id="entities" class="entity-list">
    </ul><div id="add-entity-button" class="add-entity offset3 span58">
      <span class="pane hi10 hoff1"><p class="hoff4"> + Add Entity</p></span>
    </div>
    <form id="add-entity-form" class="offset3 span58 entity hoff1" style="display:none;">
      <div class="pane">
        <span class="sub-title">
          <input type="text" id="entity-name-input" placeholder="Entity Name">
        </span>
      </div>
    </form>
  </div>

</div>
 
</div>

<script>
  var appState = {{ app.state_json|safe }};
  var appId = {{ app_id|safe }};
</script>

{% endblock %}

{% block js %}
<script data-main="{{ STATIC_URL }}js/app/entities-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
