{% extends "infra-html.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
{% endblock %}

{% block topbar %}
<div class="row hi4" style="position:fixed; background-color:#000; opacity:0.8; top:0; left:0; z-index:1; width:100%;">
  <div class="container">
    <div class="toppanel span18 logo-text" style="">
      <h1 class="name hoff1"><a href="{% url v1factory.views.app_list %}">v1 Factory</a> | {{ title }}</h1>
    </div>
    <div class="offset4 toppanel hi6 span30">
      <div class="login hi2 pad1" style="height:45px; margin-top: 10px;">
        hey
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page %}
<div class="well" style="background-color:#26656e;">
  <div class="container hoff5">
    <div class="span58">
      <div class="hi4">
        <div class="" style="color:#0f2d40;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <div class="span6">
      <a class="btn span6" id="save">Save</a>
      <a class="btn span6 btn-reset">Reset</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row hoff1">
    <div class="span11 offsetr1">
    </div>
    <div class="span36">
      <div class="hoff1">
        <h3 class="span10">App Name</h3>
        <input type="text" class="span26" id="app-name" placeholder="Name of the Applications...">
      </div>
      <hr>
      <div class="hoff2">
        <h3 class="span10">Description</h3>
        <textarea class="span26 hi6" id="app-description" placeholder="Description of the application..."></textarea>
      </div>
      <hr>
      <div class="hoff2">
        <h3 class="span10">Keywords</h3>
        <textarea class="span26 hi6" id="app-keywords" placeholder="Keywords..."></textarea>
      </div>
      <div class="btn btn-danger right hoff2" id="delete">Delete the App</div>
    </div>
    <div class="span11 offset1">
      <ul class="">
        <li>Last Deplayed in</li>
        <li>Number of Users</li>
        <li>Number of Visitors Today</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/app/appinfo-view.js"></script>
<script type="text/javascript">
var appId = {{ app_id|safe }};
var appState = {{ app.state_json|safe }};
var infoView = new InfoView();
</script>
{% endblock %}
