{% extends "infra-html.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/design.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jscolor/jscolor.js"></script>
<style type="text/css" id="custom-style">

</style>
{% endblock %}

{% block topbar %}
<div class="row">
  <div class="offset2 toppanel span44 hi3">
  <h1 class="name hoff1"><a href="{% url v1factory.views.app_list %}">Heap Engine</a> | {{ title }}</h1>
  </div>
  <div class="span8 hoff1 right">
    <a class="btn">Go back</a><a class="btn">Cancel</a><a class="btn" id="save-design">Save</a>
  </div>
</div>
{% endblock %}

{% block page %}
<div class="container" id="entities-page">
  <div class="row top-buttons offset1 span60 tb-border">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <div class="row hoff1 offset1 span60">
    <div class="span44">
      <div class="pane" id="props-pane">
      </div>
    </div>
    <div class="offset1 span14 sample">
      <div class="pane border hi9">
        <h2 class="sample">Sample Header</h2>
        <span class="sample">
          This is a sample text. Lorem impsum is a sample text. Lorem ipsum dolores.
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var appState = {{ app.state_json|safe }};
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/models.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/design-editor.js"></script>
{% endblock %}
