{% extends "infra-html.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gallery.css">

{% endblock %}

{% block topbar %}
<div class="row hi4" style="position:fixed; background-color:#000; opacity:0.8; top:0; left:0; z-index:1; width:100%;">
  <div class="container">
    <div class="toppanel span18 logo-text" style="">
      <h1 class="name hoff1"><a href="{% url v1factory.views.app_list %}">v1 Factory</a> | {{ title }}</h1>
    </div>
    <div class="offset4 toppanel hi6 span30">
      <div class="login hi2 pad1" style="height:45px; margin-top: 10px;">
        hey
      </div>
    </div>
  </div>
</div>
{% endblock %}
    <a class="btn">Go back</a><a class="btn">Cancel</a><a class="btn" id="save">Save</a>

{% block page %}
<div class="well" style="background-color:#26656e;">
  <div class="container hoff5">
    <div class="span58">
      <div class="hi4">
        <div class="" style="color:#0f2d40;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <div class="span6">
      <a class="btn span6" id="save">Save</a>
      <a class="btn span6 btn-reset">Reset</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row hoff1">
    <span class="span48">
      <ul class="hoff2 uie-gallery">
        <li class="" id="button">
          <h3>Button</h3>
        </li>
        <li class="hi10" id="image">
          <h3>Image</h3>
        </li>
        <li class="hi10" id="header-text">
          <h3>Header</h3>
        </li>
        <li class="hi10" id="text">
          <h3>Text</h3>
        </li>
        <li class="hi10" id="link">
          <h3>Link</h3>
        </li>
        <li class="hi10" id="text-input">
          <h3>Input</h3>
        </li>
        <li class="hi10" id="password">
          <h3>Password Field</h3>
        </li>
        <li class="hi10" id="text-area">
          <h3>Text Area</h3>
        </li>
        <li class="hi10" id="line">
          <h3>Line</h3>
        </li>
        <li class="hi10" id="dropdown">
          <h3>Dropdown</h3>
        </li>
        <li class="hi10" id="box">
          <h3>Box</h3>
        </li>
      </ul>
    </span>
    <span class="span16">
      <ul class="theme-gallery">
        <h3>Theme Gallery</h3>
        <li>
          <img src="{{ STATIC_URL }}img/theme1.png">
          <span class="theme">Theme 1</span>
        </li>
        <li>
          <img src="{{ STATIC_URL }}img/theme2.png">
          <span class="theme">Theme 2</span>
        </li>
        <li>
          <img src="{{ STATIC_URL }}img/theme3.png">
          <span class="theme">Theme 3</span>
        </li>
        <li>
          <img src="{{ STATIC_URL }}img/theme4.png">
          <span class="theme">Theme 4</span>
        </li>
      </ul>
    </span>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var appId = {{ app_id|safe }};
var statics = {{ statics|safe }};
var uieState = {{ app.uie_state_json|safe }};
</script>

<script type="text/template" id="temp-create">
<div class="span9 hoff1 create-text">
  <div class="pane border minhi">
    <span class="">+ Create an element</span>
  </div>
</div>
</script>
<script type="text/template" id="temp-element-node">
<div class="element-node">
<<%= info.tagName %> <% _(attribs).each(function(val, key){ %>
<%= key %> = <%= val %>
<% }); %> style="<%= info.style %>">
<% if(!info.isSingle) { %>
Default </<%=info.tagName%>>
<% } %>
</div>
</script>
<script type="text/template" id="temp-element-pane">
<form class="element-create-form">
  <select name="tagName">
    <% _(tags).each(function(tag){ %>
    <option value="<%= tag.get('tagName') %>"><%= tag.get('tagName') %></option>
    <% });%>
  </select>
  <input type="text" name="className" placeholder="Class Name...">
  <% _(attribs).each(function(attrib){ %>
  <input type="text" name="attribs-<%= attrib %>" placeholder="<%= attrib %>">
  <% });%>
  <textarea name="style" class="style" placeholder="Styling here..."></textarea>
  <input type="submit" value="Done" class="btn">
</form>
</script>
<script type="text/template" id="temp-node"><<%= element.tagName%> 
class = "<%= element.class_name %>"
<% _(element.attribs).each(function(val, key) { %>
<%=key%>="<%=val%>"<% }); %>>
<% _(element.content).each(function(val, key) { %>
<%= val %>
<% }); %>
<% if(!element.isSingle) {%>
</<%= element.tagName%>>
<% } %></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/iui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone/backbone-extend.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/gallery-view.js"></script>
<script type="text/javascript">
var galleryView = new GalleryView();

</script>
{% endblock %}
