{% extends "infra-html.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/entities.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/design.css">
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">
{% endblock %}

{% block topbar %}
{% include "infra-topbar.html" %}
{% endblock %}

{% block page %}
<a class="span6 save-btn" id="save-entities"></a>
<a class="span6 qm-btn" id="tutorial-link">?</a>

<div class="container hoff8" id="pages-view">
</div>
<script>
var appState = {{ app.state_json|safe }};
var appId = {{ app_id|safe }};
</script>
{% endblock %}

{% block js %}
<script data-main="{{ STATIC_URL }}js/app/main" data-start="{{ STATIC_URL }}js/app/pages/pages-main.js" src="{{ STATIC_URL }}js/libs/require.js"></script>

{% endblock %}
