{% extends "infra-html.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app-page.css">
    <style type="text/css" id="custom-style">

    </style>
{% endblock %}

{% block topbar %}
{% include "infra-topbar.html" %}
{% endblock %}

{% block page %}
<div class="container hoff8">
 
 
  <div class="row hoff1">
    <h2>{{ app.name }}</h2>
    <div class="span64 hoff2">
      <a class="pane hi12 span14 entities" href="{% url v1factory.views.app_info app.id %}">
        <img src="{{ STATIC_URL }}img/entities.png">
        <div class="hoff2 offset1">
        <h2>App Info & SEO</h2>
        </div>
      </a>
      <a class="pane hi12 span14 entities offset1" href="{% url v1factory.views.entities app.id %}">
        <img src="{{ STATIC_URL }}img/entities.png">
        <div class="hoff2 offset1">
        <h2>Forms & Data</h2>
        </div>
      </a>
      <a class="pane hi12 span14 offset1" href="{% url v1factory.views.app_gallery app.id %}">
        <img src="{{ STATIC_URL }}img/design.png">
        <div class="hoff2 offset1">
        <h2>Design & Themes</h2>
        </div>
      </a>
      <a class="pane hi12 span14 offset1" href="{% url v1factory.views.app_pages app.id %}">
        <img src="{{ STATIC_URL }}img/editor.png">
        <div class="hoff2 offset1">
        <h2>Pages</h2>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script data-main="{{ STATIC_URL }}js/app/show-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
