{% extends "infra-html.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
{% endblock %}

{% block topbar %}
{% include "infra-topbar.html" %}
{% endblock %}

{% block page %}
<div class="well green-2">
  <div class="container">
    <div class="span64">
      <div class="hi8">
        <div class="hi8">
          <h2 class="hoff5">Start a New App</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="hoff2 span32">
      <h4 class="span12">Name of the app</h4>
      <input class="span16 hoff1" name="username" type="text" placeholder="Easy App"><hr>
      <form method="post" action="{% url v1factory.views.app_new %}">
      {% csrf_token %}
      <input type='submit'class="span16 hoff2 btn btn-blue offset6" type="submit" value="Let Racoon guide me!"><br>
      <input type='submit' class="span16 hoff1 btn hi3 offset6" value="Start Building My App »">
      </form>
  </div>
  <div class="mascot hoff2 span24 hi16 offset4">
  </div>
</div>
{% endblock %}

