{% extends "infra-html.html" %}

{% block css %}
{% endblock %}

{% block topbar %}
{% include "infra-topbar.html" %}
{% endblock %}

{% block page %}
<div class="hoff2">
  <div class="container">
    <div class="span64">
      <div class="hi8">
        <div class="hi8">
          <h2 class="hoff5">Designer Interface</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <ul>
    {% for theme in themes %}
    <li class="hi5 hoff1 span29 offset1 pane border">
      <a href="/theme/{{ theme.pk }}/">{{ theme.name }}</a>
      <form method="POST" action="/theme/{{theme.pk}}/delete/">
        {% csrf_token %}
        <input type="submit"  class="btn btn-warning right" value="Delete">
      </form>
    </li>
    {% endfor %}
    <li class="hi5 hoff1 span29 offset1 pane border create-theme">+ Create a new theme</li>
    <li class="create-container hi3 hoff1 span36" style="display:none;"><form class="create-form"><input type="text" placeholder="Name of the theme" class="theme-name"><input type="submit" class="btn" value="Create"></form></li>
  </ul>
</div>
{% endblock %}
{% block js %}
<script data-main="{{ STATIC_URL }}js/app/designer-app/designer-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
