{% extends "infra-html.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
{% endblock %}

{% block topbar %}
{% include "infra-topbar.html" %}
{% endblock %}

{% block page %}
<div class="well green-2">
  <div class="container">
    <div class="span64">
      <div class="hi8">
        <div class="hi8">
          <h2 class="hoff5">Designer Interface</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <ul>
    {% for theme in themes %}
    <li>{{ theme.name }}asdf</li>
    {% endfor %}
    <li class="create-theme">+ Create a new theme</li>
    <li class="create-container" style="display:none;"><form class="create-form"><input type="text" placeholder="Name of the theme" class="theme-name"><input type="submit" class="btn" value="Create"></form></li>
  </ul>
</div>
{% endblock %}
{% block js %}
<script data-main="{{ STATIC_URL }}js/app/designer-app/designer-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
