{% extends "infra-html.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/themes.css">
{% endblock %}

{% block topbar %}
{% include "infra-topbar.html" %}
{% endblock %}

{% block page %}
<a class="span6 save-btn" id="save"></a>
<div class="container hoff4">
  <div class="span16 left-bar">
  <div class="expandible" id="basecss"><h2>Base CSS</h2></div>
  <div class="expandible" id="fonts"><h2>Fonts</h2></div>
  <h2>Elements</h2>
    <span class="">
      <ul class="uie-gallery">
        <li class="expandible" id="button">
          <h3>Buttons</h3>
        </li>
        <li class="expandible" id="image">
          <h3>Images</h3>
        </li>
        <li class="expandible" id="header-text">
          <h3>Headers</h3>
        </li>
        <li class="expandible" id="text">
          <h3>Texts</h3>
        </li>
        <li class="expandible" id="link">
          <h3>Links</h3>
        </li>
        <li class="expandible" id="text-input">
          <h3>Inputs</h3>
        </li>
        <li class="expandible" id="password">
          <h3>Password Fields</h3>
        </li>
        <li class="expandible" id="text-area">
          <h3>Text Areas</h3>
        </li>
        <li class="expandible" id="line">
          <h3>Lines</h3>
        </li>
        <li class="expandible" id="dropdown">
          <h3>Dropdowns</h3>
        </li>
        <li class="expandible" id="box">
          <h3>Boxes</h3>
        </li>
      </ul>
    </span>
    <div class="expandible" id="pages"><h2>Pages</h2></div>
    <div class="expandible" id="statics"><h2>Statics</h2></div>
  </div>
  <div class="right-bar span46">
    <ul class="content-editor">
      <li id="basecss-cont" class="expanded">
        <div class="base-css span48" id="base-css">

        </div>
      </li>
      <li id="fonts-cont" class="expanded">
        <textarea id="fonts-editor"></textarea>
      </li>
      <li id="pages-cont">
        <ul id="pages-list" class="pages-list">
        </ul>
        <div class="span16 hi12 pane border" id="create-page">
          + Create Sample Page
        </div>
        <form class="create-page-form" style="display:none">
          <input class="create-page-name" type="text" placeholder="placename">
        </form>
      </li>
      <li class="" id="button-cont">
        <h3>Buttons</h3>
      </li>
      <li class="" id="image-cont">
        <h3>Images</h3>
      </li>
      <li class="" id="header-text-cont">
        <h3>Headers</h3>
      </li>
      <li class="" id="text-cont">
        <h3>Texts</h3>
      </li>
      <li class="" id="link-cont">
        <h3>Links</h3>
      </li>
      <li class="" id="text-input-cont">
        <h3>Inputs</h3>
      </li>
      <li class="" id="password-cont">
        <h3>Password Fields</h3>
      </li>
      <li class="" id="text-area-cont">
        <h3>Text Areas</h3>
      </li>
      <li class="" id="line-cont">
        <h3>Lines</h3>
      </li>
      <li class="" id="dropdown-cont">
        <h3>Dropdowns</h3>
      </li>
      <li class="" id="box-cont">
        <h3>Boxes</h3>
      </li>
      <li id="statics-cont">
        <div class="btn-primary btn" id="upload-static">Upload New</div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
{% block js %}
<script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
</script>
<script>
var themeState = {{ theme|safe }};
var themeId = {{ themeId }};
var statics = {{ statics|safe }};
</script>
<script data-main="{{ STATIC_URL }}js/app/designer-app/theme-show-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
