<html lang="en">
<head>
<meta charset="utf-8">
<title> v1 Factory | {{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-editor.css" rel="stylesheet">
{% block css %}
{% endblock %}
<style type="text/css">
</style>
</head>
<body class="sample">
  {% block controllers %}{% endblock %}

  <div class="container">
    {% block topbar %}{% endblock %}
  </div>
    {% block navbar %}{% endblock %}
  <div class="page-wrapper">
    <div class="url-bar">http://127.0.0.1:8000/app/1/pages/editor/0</div>
    <div class="page">
      {% block page %}{% endblock %}  
    </div>
  </div>
</body>
  <script type="text/javascript" src="//use.typekit.net/kqa1all.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/underscore.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/backbone/backbone.js"></script>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  {% block js %}
  {% endblock %}
</html>
