<div class="navbar logo-text navbar-inverse navbar-fixed-top ">
  <div class="hi4 navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
          <h1 class="name hoff1" style="display:inline-block;"><a class="" href="/">v1 Factory</a></h1>
          <li class="pull-right" id="login-btn">Login</li>
        </ul>
        <!-- <div class="login hi2 pad1 pull-right" style="height:45px; margin-top: 10px; opacity:1.0;">
          <span class="span6 pad1"><strong>User Login</strong><br><i class="micro"> (forgot password?)</i></span>
          <span class="login span21 offset1">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <form class="" method="post" action="{% url django.contrib.auth.views.login %}">
                {% csrf_token %}
                <div class="line block hi1">
                 <input id="id_username" type="text" name="username" placeholder="Username..." maxlength="30">
                </div>
                <div class="line block hi1">
                  <input type="password" name="password" placeholder="Password..." id="id_password">
                </div>
                <input class="btn" type="submit" value="Login"/>
                <input type="hidden" name="next" value="{{ next|default:"/app" }}" />
            </form>
          </span>
        </div> -->
      </div>
    </div>
  </div>
</div>