<html>
  <style>
    li {margin-bottom:13px}
  </style>
  <body>
    <ul style="width:200px; font-family: Arial, Sans; margin: 100px auto 0 auto; line-height:1.3rem;">
      <a href="https://www.youtube.com/watch?v=OmH1u8mJQyU" target="_blank"><li>First demo video</li></a>
      <a href="https://www.youtube.com/watch?v=KzsB3NCpjmo" target="_blank"><li>Fixed the bug in the first video, it works now</li></a>
      <a href="http://demo-myblog.v1factory.com/" target="_blank"><li>The website that was generated</li></a>
      <a href="https://github.com/v1factory/demo-myblog/" target="_blank"><li>The generated source code</li></a>
    </ul>
  </body>
</html>
