<script type="text/template" id="tutorial-intro">
<p>Welcome to v1 Factory! The only website builder where you can build anything.</p>
<p>This tutorial will teach you how to make your own dynamic website.</p>
<p>After that, you'll have a functional website, and you'll even be able to download and browse the code that was generated!</p>
</script>


<script type="text/template" id="tutorial-overview">
<p>There are a few parts to a website. Every modern website has a "database", so that it can store data, like users, posts, pictures, etc. You can setup your own data storage on the Data Storage page.</p>

<p>Then we'll pick a nice looking theme, so that your site looks fresh.</p>
<p>Then, you can start making your web pages! This includes everything you see on a webpage, Like a nav bar, paragraph text, forms, buttons, etc. You can even do things like make a dynamic page, like a user profile page, which contains dynamic inforation about the user from your sites database</p>
</script>

<script type="text/template" id="tutorial-app_info">
<p>Here are some keywords that will be used to help people find your site via a search engine like google.</p>
</script>

<script type="text/template" id="tutorial-data_storage">
<p>Need an explanation.</p>
</script>

<script type="text/template" id="tutorial-data_storage-entity">
<p>An entity is some structured data that your application stores.</p>
</script>

<script type="text/template" id="tutorial-data_storage-user">
<p>Here's an example - a User on your site is stored like this in a database.</p>
</script>

<script type="text/template" id="tutorial-data_storage-sample">
<p>So here's a new entity...</p>
</script>

<script type="text/template" id="tutorial-data_storage-upload">
<p>You can use excel to upload and download the data to and from your site.</p>
</script>


<script type="text/template" id="tutorial-themes_design">
<p>This is where you can choose a general style for the UI Elements on your site.</p>
</script>

<script type="text/template" id="tutorial-pages">
<p>What is this?</p>
</script>

<script type="text/template" id="tutorial-pages-context">
<p>A facebook profile page is for one specific user. An airbnb listing page is for one specific listing. The ID for that listing is in the URL.</p>
</script>

